<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重疾加护保——一般条款</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link href="./css/style.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
<div class="container-box">
    <div class="header-section">
        重疾加护保——一般条款
    </div>
    <div class="content-section">
        <p style="word-break:break-all;word-wrap:break-word;">
            1.	双方的协议 <br />
            1.1	定义 <br />
            在本保单中(包括「本计划」及所有附加保障（如有）），「本公司」或「我们」是指保X保险有限公司，「阁下」是指本保单的人寿保险证书上显示的保单持有人。 <br />
            人寿保险证书上显示的保障生效日期，即人寿保险证书上显示的保单缮发日期（「保单生效日」）。任何其后增加的保障或保障的更改，其生效日期将是显示于有关批注的日期（由本公司厘订）或是有关变更之生效日期（由本公司厘订），以较后者为准。 <br />
            1.2	合约 <br />
            本保单乃阁下与本公司之的法律合约，本公司同意按照本保单向阁下支付列明于阁下人寿保险证书上的保障。 <br />
            阁下与本公司之间的整份合约由保单的每一页组成，包括人寿保险证书、投保书、补充投保书（如有）及批注（如有）。 <br />
            阁下有责任向本公司提供完整及正确的数据。 <br />
            本公司乃根据阁下在投保书、补充投保书及任何有关本保单的文件中向本公司提供的数据决定是否接受阁下的投保申请。假如有关资料不完整或不准确，或阁下不遵守本保单的任何条款及细则，则纵使本保单已获缮发，本公司仍可决定本保单由保单生效日起已无效，除非阁下可就下列第3.8条提出不可争议的理据。除另有订明外，当保单因失实陈述而导致无效或撤销，本公司保留不退回已缴交保费之权利，及保留追讨就本保单曾支付的任何赔偿、金额及任何阁下未偿还本公司的欠款（包括利息）。 <br />
            本保单仅由人寿保险证书显示的保单生效日至保障期满日期间提供保障，并受本保单的条款及条件规限。本保单乃根据香港特别行政区的法律作出诠释并受其规范。 <br />
            假如本保单需就其条款及细则进行任何更改，本公司将向阁下发出一份批注以反映该项更改，阁下应将它夹附于保单内妥为保存。 <br />

            1.3	冷静期 <br />
            本公司希望阁下会完全满意本保单，否则阁下有权改变主意。只要本保单未曾作出任何理赔，阁下可将保单连同书面要求寄回本公司，以要求退还已缴交的保费及征费（不包括利息）。该书面要求必须经阁下签署，并连同本保单于以下限期内直接送抵本公司香港办事处： <br />
            (a)保单交付予阁下或阁下代表，或 <br />
            (b)发出有关通知书（以说明本保单已经备妥及冷静期的届满日期）予阁下或阁下代表后，起计的二十一天内，以较先者为准。 <br />
            「保费」一词是指本保单下就所有保障收取之保费的总和，不论其缴付模式及／或缴付次数为何。 <br />
            保费及征费将会以申请本保单时缴付保费及征费之货币而退还。若缴付保费及征费时之货币与本计划之货币不同，退还的保费及征费将以计划之货币结算，再兑换为缴付保费及征费之货币。我们有绝对酌情权不时厘订当时的货币兑换率。 <br />
            1.4	第三方权利 <br />
            任何不是本保单某一方的人士或实体（包括但不限于受保人或受益人），不能强制执行本保单的任何条款。 <br />
            2.	计划类别 <br />
            本计划的保费将会与其他股东全资分红保单的保费投资在股东全资分红保单业务基金，从而分享此基金的利润及亏损。本计划的回报将视乎本计划在股东全资分红保单业务基金所占的利润及有关利润的分配时间。分配利润与否乃由本公司酌情决定。倘若本公司选择分配利润，本公司会透过特别红利（如同随附之「保障条款」文件第10条所规定）的形式给予阁下可分配利润。 <br />
            3.	一般条件 <br />
            3.1	保单拥有权 <br />
            假如在缮发保单时受保人年龄为十八岁以下，于受保人年满十八岁时，阁下可将本保单的合法拥有权转移至该受保人，惟须填妥指定之表格及提供一切我们就保单拥有权转移之申请所需的数据及文件。本公司将通知阁下如有关申请已获接纳。 <br />
            3.2	保单转让 <br />
            本保单的保障不可用作任何财务交易的抵押或担保品。 <br />
            3.3	受益人 <br />
            在符合本保单之所有条款下，当受保人身故，投保书上指定的受益人或后期重新指定的受益人（「受益人」）将会获得本保单下应付之身故赔偿，本公司将为受益人的惠益设立信托。 <br />
            于受保人生存及保单生效期间，阁下可填妥及交回本公司指定的委任表格更改受益人。阁下的要求须待本公司记录及于本保单加上批注后方才生效。有关受益人更改一经本公司批注，不论受保人当时是否在生，有关更改即于阁下签署委任受益人表格日期起生效。但是，本公司毋须对任何指定受益人的有效性或合法性负责。本公司将在符合本保单的条款的情况下并根据本公司最后记录上的指定受益人支付身故赔偿。 <br />
            除非本保单另有规定或阁下向本公司提交书面要求，否则任何受益人如早于受保人身故或因任何原因被阁下撤销受益人身分，其应得的身故赔偿将均等地分予在同一类别中的其他在生受益人，惟须符合本保单的所有条款。假如以下情况同时出现，本公司将向候补受益人支付身故赔偿： <br />
            	•阁下于本公司指定之委任表格上同时指定了基本受益人及候补受益人；及 <br />
            	•没有基本受益人于受保人身故后尚在生。 <br />
            假如任何受益人与受保人同时身故，本公司将会在符合本保单条款的情况下将此情况视为较年长者早于较年轻者身故而支付身故赔偿。 <br />
            3.4	未成年受益人及未成年受益人的信托人 <br />
            尽管以上第3.3条的规定，假如阁下委任的受益人为未成年人士（即当时有效的《成年岁数（有关条文）条例》定义下为未达法定的成年岁数）及支付身故赔偿时该受益人仍然为未成年人士，身故赔偿将支付予： <br />
            (i)	已委任之未成年受益人的信托人，倘若已委任信托人以代表未成年受益人收取身故赔偿；或 <br />
            (ii)	未成年受益人的法定监护人，倘若没有委任信托人或未成年受益人的信托人之委任已被撤销。 <br />
            然而，倘若支付身故赔偿时该受益人的年龄达法定的成年岁数，身故赔偿将按以上第3.3条规定支付。 <br />
            于受保人生存及保单生效期间，假如阁下欲委任个人作为未成年受益人的信托人，阁下可于我们指定的委任表格内委任信托人。 <br />
            阁下的要求须待本公司记录及于本保单加上批注后方才生效。有关委任个人作为未成年受益人的信托人之更改一经本公司批注，不论受保人当时是否在生，有关委任即于阁下签署指定的委任表格日期起生效。惟本公司概不负责任何信托人之委任的有效性或合法性。 <br />
            未成年受益人的信托人之委任将于以下情况被自动撤销： <br />
            •&nbsp;&nbsp;&nbsp;&nbsp;当支付身故赔偿时，受益人的年龄达法定的成年岁数；或 <br />
            •&nbsp;&nbsp;&nbsp;&nbsp;随后受益人的更改，使未成年受益人的委任不再生效（见以上第3.3条之说明）；或 <br />
            •&nbsp;&nbsp;&nbsp;&nbsp;未成年受益人的信托人没有于受保人身故日后的一百八十历日内提出身故赔偿的索偿；或 <br />
            •信托人于受保人身故日已去世。 <br />
            3.5	申报年龄、性别、国籍及吸烟习惯等 <br />
            假如阁下在投保书内错误申报受保人的年龄、性别、国籍或吸烟习惯及／或任何其他可能影响本公司所收保费金额之数据，本公司将有权作出以下安排： <br />
            &nbsp;&nbsp;&nbsp;&nbsp;•假如所缴交的保费较正确年龄、性别、国籍、吸烟习惯及/或任何其他数据所需的保费少，本公司将按受保人的正确年龄、性别、国籍、吸烟习惯及／或任何其他资料的保费率，并根据已缴交的保费而调整保障金额；或 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;•假如所缴交的保费较正确年龄、性别、国籍、吸烟习惯及／或任何其他数据所需的保费多，本公司将不附利息退还多缴之保费。 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;•假如受保人的真实年龄在本公司可缮发保单的投保年龄范围以外，本保单即会被视为由保单生效日起已无效，而本公司将不附利息退还已缴交的保费，并扣除任何就本保单曾支付的赔偿及任何阁下未偿还本公司之贷款及利息。 <br />
            3.6	扣除债项 <br />
            除支付良性肿瘤额外保障的赔偿（其涵义载于随附之「保障条款」文件第7条）外，本公司将从本保单应支付的赔偿或利益之中，扣除阁下未偿还本公司的所有费用。 <br />
            3.7	自杀 <br />
            假如受保人于保单生效日或任何复效日期（以较迟者为准）起计一年内自杀，不论当时神智正常或失常，身故赔偿将只限于退还阁下已缴交的保费（不附利息），并扣除就本保单曾支付的任何赔偿及任何阁下未偿还本公司之贷款及利息。<br/>
            3.8	不可争议 <br />
            由保单生效日或任何保单复效日期（以较迟者为准）起计，当受保人在生期间本保单已持续生效超过两年后，除非本保单是凭欺诈所得，否则本公司将不会争议受保人人寿保障之可保性。 <br />
            可是，于本保单之所有年期内，本不可争议条款将不适用于以下任何情况： <br />
            &nbsp;&nbsp;&nbsp;&nbsp;早期严重疾病保障（其涵义载于随附之「保障条款」文件第4条）； <br />
            &nbsp;&nbsp;&nbsp;&nbsp;严重疾病保障（其涵义载于随附之「保障条款」文件第5条及「额外危疾加护保-保障」文件第4条）； <br />
            &nbsp;&nbsp;&nbsp;&nbsp;严重疾病延伸保障（其涵义载于随附之「保障条款」文件第6条）； <br />
            &nbsp;&nbsp;&nbsp;&nbsp;良性肿瘤额外保障（其涵义载于随附之「保障条款」文件第7条）； <br />
            &nbsp;&nbsp;&nbsp;&nbsp;早期危疾保费豁免保障（其涵义载于随附之「保障条款」文件第8条）； <br />
            &nbsp;&nbsp;&nbsp;&nbsp;危疾保费豁免保障（其涵义载于随附之「保障条款」文件第9条）； <br />
            &nbsp;&nbsp;&nbsp;&nbsp;任何附加于本保单的额外保障不论是需付款或免费提供（定期保险之身故保障除外）； <br />
            &nbsp;&nbsp;&nbsp;&nbsp;错误申报受保人的年龄、性别、国籍及／或吸烟习惯。 <br />
            3.9	保费储蓄户口 <br />
            不论阁下的保费是否到期，阁下可不时申请将款项存入本保单内名为「保费储蓄户口」之假设户口，惟须获本公司批准。本公司将有权从该保费储蓄户口扣除本保单内任何未缴的保费及／或保费征费。若保费储蓄户口未有足够款项同时扣除未缴保费及征费，本公司会先行扣除未缴保费。 <br />
            当本保单终止时，本公司将会退还该保费储蓄户口之任何结余。存入该户口的利息将由本公司按绝对的酌情权厘订。 <br />
            3.10	保单支付 <br />
            所有根据本保单须支付予本公司或由本公司须支付的款项将根据本保单的所有条款及有关监管机构不时发出适用的法律、规例及指引，以计划货币支付。惟本公司有绝对酌情权以港币接受及支付本保单的款项。若需要兑换货币，于支付款项时须以我们于绝对酌情权下不时厘订的当时兑换率计算，数值调整的差额（如有）应归于本公司。我们会在合理可行及在顾及当时适用的监管及商业条件及有关的运作程序，尽快支付根据本保单须支付的款项。
            <br />4.	缴交保费 <br />
            4.1	缴费责任 <br />
             <br />阁下的人寿保险证书上显示了本保单的首期保费日、本计划的保费期满日、每项附加保障（如有）的保费期满日、每期保费总额及每期保费缴费次数。
             <br />阁下必须于保单生效日前向本公司缴交人寿保险证书上显示的首次每期保费总额；此后，阁下须于每个保费到期日后起计一个历月内缴交每期保费总额。
             <br />就并非以月缴形式（按本公司最近期的内部纪录）缴交每期保费总额的保单，本公司将于每期保费总额到期时向阁下发出通知。但是，即使阁下没有收到该通知，阁下仍须准时缴交每期保费总额。
             <br />就以月缴形式（按本公司最近期的内部纪录）缴交每期保费总额的保单，本公司只接受透过从阁下的银行账户直接转账的方法收取月缴每期保费总额，并且不会于每期保费总额到期时向阁下发出任何通知。
             <br />4.2	身故时扣除未缴交的分期保费
             <br />假如阁下以月缴、季缴或半年缴形式缴交每期保费总额，则每次付款均为当时的保单年度的分期保费。本公司将于根据本保单的所有条款支付身故赔偿时扣除该保单年度余下的分期保费。
             <br />4.3	假如未能缴交保费将会如何处理？
             <br />假如阁下未能于保费到期日起计一个历月内缴交每期保费总额，本公司将自动为本保单作出以下安排：
             <br />	假如本计划的现金净值足够缴交到期未缴付之保费，本保单将维持生效；而该笔保费或保费及征费将自动以阁下向本公司贷款的形式缴交（「自动保费贷款」），自动保费贷款并会适用于本计划已缴清所有保费时或于早期危疾保费豁免保障或危疾保费豁免保障（其涵意分别载于随附之「保障条款」文件中第8及9条）下豁免本计划保费时之附加保障之保费或保费及征费；或
             <br />	•假如本计划的现金净值不足够缴交到期未缴付之保费，本保单将自动终止。
             <br />假如本保单以自动保费贷款形式维持生效，将按下列规定进行：
             <br />	假如现金净值多于或等于到期未缴付之每期保费总额，则本保单仍维持生效，而到期未缴付之每期保费总额或每期保费总额及征费将自动以自动保费贷款的形式缴交。
             <br />	假如现金净值少于到期未缴付之每期保费总额，但多于月缴之每期保费总额，则本保单将以月缴形式维持生效，而到期未缴付之月缴之每期保费总额或月缴之每期保费总额及征费将自动以自动保费贷款的形式缴交。
             <br />	假如现金净值少于月缴之每期保费总额，则本保单将自动终止，而本公司将按本保单之条件支付退保价值（于以下第5.4条指明）予阁下。
             <br />	本公司将会由自动保费贷款日期开始收取自动保费贷款的利息，有关利率将由本公司厘订。
             <br />「现金净值」相等于本计划的保证现金价值之80%扣除：
             <br />(i)	本公司于本计划下须支付及／或已付讫的早期严重疾病保障（其涵意载于随附之「保障条款」文件中第4条）的赔偿总额，及
             <br />(ii)	任何阁下未向本公司偿还之保单贷款及利息。
             <br />5.	阁下可就本保单作甚么安排？
             <br />5.1	增加附加保障
             <br />在下列情况下，阁下可以随时在本保单上增加附加保障：
             <br />	有关附加保障可供选择；及
             <br />	本计划仍然生效；及
             <br />	本公司接受受保人的健康状况；及
             <br />	符合本公司的行政规则；及
             <br />	阁下缴交额外保费；及
             <br />	该申请获本公司批核。
             <br />5.2	保单复效
             <br />假如本保单因没有缴交保费而终止，只要符合下列情况，阁下可以申请保单复效：
             <br />	阁下于本保单终止的日期起计二十四个月内提出申请；及
             <br />	阁下自费提供令本公司满意之受保人的健康证明；及
             <br />	阁下缴交所需保费及利息。
             <br />本公司将按绝对酌情权厘订相关利率。
             <br />若要提出保单复效之申请，阁下必须填妥及交回由本公司指定的申请表格并符合所有由本公司指定的条件以及行政规定。本公司将通知阁下如有关申请已获接纳。
             <br />5.3	申请保单贷款
             <br />假如本计划拥有保证现金价值，而未偿还本公司之总金额不多于保证现金价值之80%扣除本计划下须支付及／或已付讫的早期严重疾病保障（其涵义载于随附之「保障条款」文件第4条）赔偿总额后之金额，阁下可以申请保单贷款。
             <br />本公司对所有贷款均由贷款产生之日期起开始收取利息，直至贷款完全偿还为止，利率将由本公司按绝对酌情权厘订。
             <br />假如于本保单下未偿还本公司之总金额（包括利息）超出本计划保证现金价值之90%扣除本计划下须支付及／或已付讫的早期严重疾病保障赔偿总额后之金额，本公司将立即终止本保单，而本公司将按本保单之条件支付退保价值予阁下。
             <br />要提出申请保单贷款，阁下必须填妥及交回由本公司指定的申请表格并符合所有由本公司指定的条件以及行政规定。本公司将通知阁下如有关申请已获接纳。
             <br />5.4	保单退保
             <br />假如没有严重疾病保障已付讫及／或须支付，阁下可以随时申请退保。退保价值将为以下之较高者：
             <br />	以下之总和：
             <br />	由本公司最终决定的非保证之特别红利的现金价值（如同随附之「保障条款」文件第10条所规定）；及
             <br />	于本保单随附之「保证现金价值表」内显示根据退保当日的保证现金价值，假如阁下的保单于保单周年日以前退保，保证现金价值须被本公司予以调整并由本公司作最终决定；
             <br />扣除就本计划下须支付及／或已付讫的早期严重疾病保障（其涵义载于随附之「保障条款」文件第4条）赔偿总额及扣除任何阁下未偿还本公司之贷款及利息；及
             <br />	零。
             <br />一经本公司批准退保，本保单即自动终止。本公司将于批准退保当日起计六个历月内，支付任何退保价值（如有）。
             <br />要提出申请退保，阁下必须填妥及交回由本公司指定的申请表格并符合所有由本公司指定的条件以及行政规定。本公司将通知阁下如有关申请已获接纳。
             <br />6.	如何就本保单提出身故索偿？
             <br />6.1	提出身故索偿
             <br />阁下或索偿人（如受保人为阁下本人）必须尽快向本公司递交以下各项：
             <br />	填妥的索偿表格；及
             <br />	由阁下或索偿人自费取得由主诊注册医生签发的医疗报告；及
             <br />	阁下的人寿保险证书及随附的批注（如有）；及
             <br />	索偿人有权获得身故赔偿的证明（例如：出生证明书、身份证、遗产管理书或遗嘱认证书）；及
             <br />	受保人的年龄证明（例如：出生证明书或身份证）；及
             <br />	受保人的死亡证明书。
             <br />本公司保留权利可要求阁下或索偿人自费提供进一步及令本公司满意的文件或证据，以协助本公司评核索偿。
             <br />6.2	谁可获得身故赔偿？
             <br />本公司将按以下方式支付身故赔偿：
             <br />	本公司最后记录上指定的受益人。倘若支付身故赔偿时受益人为未成年人士，身故赔偿将根据上述第3.4条的规定支付予已被委任之未成年受益人的信托人或未成年受益人的法定监护人；或
             <br />	受益人的受托人，倘若本公司获通知有信托存在。阁下对本公司的通知须待本公司记录及于本保单加上批注后方才生效。本公司毋须对有关信托的有效性负责。
             <br />假如 阁下并无指定任何受益人，或最后在生的受益人早于受保人身故，本公司将支付赔偿如下：
             <br />	假如 阁下并非受保人，本公司将支付赔偿予 阁下，亦即保单持有人；或
             <br />	假如 阁下为受保人，本公司将支付赔偿予以下人士：
             <br />- 假如 阁下立有遗嘱，则为 阁下的遗嘱执行人；或
             <br />- 假如 阁下并无遗嘱，则为 阁下的遗产管理人。
             <br />在符合本保单所有条款的情况下，本公司必须收到有关人士有权获得本保单赔偿的所有所需文件及能令本公司满意的证明（见上述第6.1条及本条款说明之条件）后起计的一个历月内支付身故赔偿。惟我们不会在身故索偿通知日期与支付索偿金额日期之期间就该身故赔偿支付利息。
             <br />上述任何人士签署的身故赔偿收据，将充分、有效及完全地解除本公司就本保单的所有义务及责任。该收据是证明上述人士已经收取有关赔偿，以及本公司已就该赔偿款项完全地满足所有就本保单向本公司提出的理赔和要求的最终及不可推翻的证据。
             <br />6.3	赔偿于何处支付？
             <br />本公司将在符合本保单所有条款的情况下，于香港特别行政区支付赔偿款项。
             <br />6.4	受保人身故后保单将会如何处理？
             <br />受保人身故后，阁下的整份保单将立即自动终止。
 <br />
             <br />7.	终止条款
             <br />7.1	终止保单
             <br />在下列情况下，本公司将立即终止本保单（包括本计划及任何附加保障）：
             <br />受保人身故；或
             <br />	本保单被退保；或
             <br />	阁下未能缴交保费（于上述第4.3条指明）；或
             <br />	当本保单下未偿还本公司之总金额（包括利息）超出保证现金价值之90%扣除本计划下须支付及／或已付讫的早期严重疾病保障（其涵意载于随附之「守护健康危疾加护保- 保障」文件第4条）赔偿总额后之金额，
             <br />以最先者为准。
             <br />当本计划及所有附加保障按本保单的条款而终止时，本保单将立即终止（包括但不限于下列第7.2及7.3条所指明之情况）。
             <br />7.2	终止计划
             <br />尽管有上述第7.1条的规定，于下列情况下，本计划将立即终止。
             <br />	紧随受保人85岁的保单周年日之前，在本计划下须支付及／或已付讫的严重疾病延伸保障（其涵义载于随附之「守护健康危疾加护保- 保障」文件中第6条）总额达当时保额之320%之时；或
             <br />	于紧随受保人85岁的保单周年日，若本计划下严重疾病保障（其涵义载于随附之「守护健康危疾加护保- 保障」文件中第5条）须支付及／或已付讫；或
             <br />	紧随受保人85岁的保单周年日之后，在本计划下须支付及／或已付讫的严重疾病保障（其涵义载于随附之「守护健康危疾加护保- 保障」文件中第5条）之时，
             <br />以最早出现者为准。
             <br />在符合本保单其他条款的情况下，在本计划已于上述其中任何一个情况下终止时，所有附加于本保单仍生效的附加保障将继续有效，惟上述第5条列明之权利将不适用于本保单。
             <br />7.3	终止附加保障
             <br />尽管有上述第7.1条的规定，本保单的附加保障（如有）将于以下最早出现的事件时立即终止：
             <br />	阁下的人寿保险证书或本保单的批注上显示有关附加保障的保障期满日已到期；或
             <br />	阁下未能缴交保费（于上述第4.3条指明）。
             <br />(本条款仅供参考，实际条款以官方发布为准)
        </p>

    </div>
</div>
</body>
</html>