<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重疾加护保——严重病况之定义</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link href="./css/style.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
<div class="container-box">
    <div class="header-section">
        重疾加护保——严重病况之定义
    </div>
    <div class="content-section">
        <p style="word-break:break-all;word-wrap:break-word;">
            <br/>一、	癌症
            <br/>1.	癌症
            <br/>惡性肿瘤而具有惡性细胞失控的生长及扩散，并对人体组织浸润，癌症包括白血病，但不包括以下任何情况：
            <br/>•	任何在组织学中分类为癌前病变、非浸润性、或原位癌，或交界性或低恶性潜力的肿瘤；
            <br/>•	任何子宫颈上皮内瘤样病变（CINI、CINII或CINIII）或子宫颈鳞状上皮内病变；
            <br/>•	任何在人类免疫缺陷病毒(HIV)存在下出现的肿瘤；
            <br/>•	RAI第III期以下的慢性淋巴性白血病；
            <br/>•	任何恶性黑色素瘤以外的所有皮肤癌；
            <br/>•	根据TNM评级系统，任何在组织学上被界定为T1N0M0或以下级别的甲状腺肿瘤；及
            <br/>•	根据TNM评级系统，任何在组织学上被界定为T1a或T1b或以下级别的前列腺肿瘤。
            <br/>二、	与心脏相关的疾病
            <br/>2.	心肌病
            <br/>由注册心脏科专科医生诊断为由病因不明的心室功能损伤引致的心肌病，而具永久及不可复原的体能障碍，程度达纽约心脏协会心脏障碍级别的第4级。
            <br/>本严重病况不包括因服用酒精或药物直接引致的心肌病。
            <br/>3.	需要进行外科手术的冠状动脉病
            <br/>对出现限制性心绞痛征状人士进行心脏外科手术，透过搭桥移植术以矫正1条或多条冠状动脉的收窄或栓塞，但不包括非外科手术技术，例如气囊血管成形术或以激光舒缓冠状动脉栓塞情况。
            <br/>4.	心脏病发作
            <br/>因心脏血液供应不足，引致部份心脏肌肉（心肌）坏死，并须符合下列所有准则：
            <br/>•典型胸痛病史；及
            <br/>•心肌梗塞特有的新近心电图变化，显示在相关心脏事故发生时有急性心肌梗塞；及
            <br/>•心脏酵素CK-MB有特性的上升或心肌钙蛋白T(Troponin T)达到1.0ng/ml以上或心肌钙蛋白I(Troponin I)达到0.5ng/ml以上。
            <br/>心绞痛则明确不受此保障。
            <br/>5.	心瓣及结构性手术
            <br/>进行剖开式心脏手术以矫正心瓣及异常结构。
            <br/>6.	感染性心内膜炎
            <br/>感染性生物引致心内膜发炎，并符合以下所有标准：
            <br/>•	血培养或组织检测结果呈阳性，证实有感染性生物；
            <br/>•	因患感染性心内膜炎以致最少中度心瓣不全(即反流分数20%或以上)或中度心瓣狭窄(导致心瓣范围仅为正常值的30%或以下)；及
            <br/>•	经注册心脏科专科医生诊断为感染性心内膜炎并确定心瓣障碍的严重程度。
            <br/>7.	原发性肺动脉高血压
            <br/>根据临床及检验（包括心导管检查）证实，并由注册心脏科专科医生诊断，并须符合下列诊断标准：
            <br/>•呼吸困难及疲倦；及
            <br/>•左心房血压上升（最少超越20个单位）；及
            <br/>•肺阻力比正常水平最少高出3个单位；及
            <br/>•肺动脉压最少为40mmHg；及
            <br/>•肺楔压最少为6mmHg；及
            <br/>•右心室舒张末期压最少为8mmHg；及
            <br/>•右心室肥大、扩张以及右心室出现衰竭及代偿失调的征状。
            <br/>8.	大动脉外科手术
            <br/>进行外科手术以矫正胸部或腹部主动脉的收窄、内壁分离或动脉瘤。
<br/>
            <br/>三、	与神经系统相关的疾病
            <br/>9.	阿耳滋海默氏症
            <br/>根据临床状态及认可的标准问卷或测试证实因患上阿耳滋海默氏症（脑退化性疾病）引起的智力衰退、丧失或行为异常，或不可复原的机能退化失调而导致精神及社交功能明显减退（但不包括神经官能病及精神病），使受保人需要持续接受照料。
            <br/>10.	肌萎缩性脊髓侧索硬化
            <br/>有肌肉无力及萎缩为特征，并有以下情况作为证明：脊髓前角细胞功能失调、可见的肌肉颤动、痉挛、过度活跃之深层肌腱反射和伸肌足底反射、皮质脊髓束受影响、构音障碍及吞咽困难之迹象。必须由注册脑神经科专科医生以适当的神经肌肉检查如肌电图(EMG)证实。
            <br/>11.	植物人
            <br/>指脑皮质全面坏死，唯脑干仍保持运作。植物人的确诊必须由注册脑神经科专科医生确认。有关症状必须有注册脑神经科专科医生签发有关情况已持续至少一个月的医学证明。
            <br/>12.	细菌感染脑膜炎
            <br/>因细菌感染引起脑膜或脊髓发炎，并导致永久性神经功能缺陷。有关诊断须由注册脑神经科专科医生证实。
            <br/>13.	良性脑肿瘤
            <br/>脑部或颅脑膜内的良性肿瘤。
            <br/>本严重病况不包括下列：
            <br/>a)	囊肿；
            <br/>b)	肉芽肿；
            <br/>c)	脑动脉或静脉畸形；
            <br/>d)	血肿；及
            <br/>e)	脑垂体或脊椎肿瘤。
            <br/>14.	脑部外科手术
            <br/>在全身麻醉下进行经头颅的颅骨切开术作脑部手术。脑部外科手术包括颅骨钻孔术，惟以下情况概不受保：
            <br/>a)	不需手术切开或切除组织的治療如伽玛射线、脑血管神经放射介入治療如栓塞形成、血栓溶解及立体定位活检；
            <br/>b)	经蝶窦手术；及
            <br/>c)	因意外而需要进行的脑部外科手术。
            <br/>有关手术必须获相关医学范畴的注册专科医生认为属医疗需要。
            <br/>15.	昏迷
            <br/>处于不省人事的状态，对外界刺激或内在需要毫无反应，需要持续使用生命支持系统最少96小时，并导致永久性神经功能不足。
            <br/>16.	克雅二氏症
            <br/>一种神经系统疾病，属致命的海绵状脑病，伴有以下的症状：
            <br/>•不受控的肌肉痉挛或震颤；及
            <br/>•严重进行性痴呆；及
            <br/>•小脑功能障碍；及
            <br/>•手足徐动症。
            <br/>克雅氏病必须由我们可接受的注册脑神经科专科医生作出诊断，并必须经脑电图(EEG)、脑脊液(CSF)、计算机断层扫描(CT)及磁力共振扫描(MRI)确诊。由疯牛症引致的变种克雅二氏症亦为受保项目。
            <br/>17.	脑炎
            <br/>由注册脑神经科专科医生证实的严重脑质发炎，并导致严重及永久的神经病后遗症。
            <br/>18.	严重头部创伤
            <br/>意外的头部受伤导致残余脑部损伤，达到持久性神经系统缺陷的程度，并引起重要的功能损害。「重要的功能损害」指受保人被注册脑神经科专科医生以格拉斯哥之头部损伤结果尺度(Glasgow Outcome Scale of Head Injuries)的第8.0版本评估而获得5分或以下，或于获医学文献接受的类似尺度中表示相等程度的功能损害。
            <br/>19.	脑膜结核病
            <br/>结核杆菌感染的脑膜炎而导致严重发炎及脑功能障碍，有关诊断必须由注册脑神经科专科医生证实，并必须经脑脊液(CSF)或神经扫描确诊。还必须为永久性神经系统受损引致运动神经功能缺损或颅神经功能障碍，有关情况于诊断后至少3个月持续出现。
            <br/>20.	运动神经元病
            <br/>由注册脑神经科专科医生明确诊断为患上运动神经元病，而且有适当及相关的神经病征状作为决定性的证明。
            <br/>21.	多发性硬化症
            <br/>由注册脑神经科专科医生明确诊断为多发性硬化症，并确定下列各项：
            <br/>•	以下四个中枢神经系统区域中最少两个区域有≥1个T2病变的客观临床证据：
            <br/>(i)	   脑室周围；
            <br/>(ii)	近脑皮质；
            <br/>(iii)	小脑幕下；
            <br/>(iv)	脊髓；及
            <br/>•	出现多于1次明显的神经科征狀，涉及视觉神经、脑干、脊髓、身体协调或运动功能；及
            <br/>•	对神经科征状的病征有六个月以上详细的病历记录，包括病情变坏及复原的病史。
            <br/>22.	肌营养不良
            <br/>由注册脑神经科专科医生证实为遗传性肌营养不良，导致在没有协助的情况下无法完成3项或以上的日常活动。
            <br/>23.	瘫痪
            <br/>由于意外或疾病引起的瘫痪，两条或以上肢体完全及永久丧失功能。
            <br/>24.	柏金逊病
            <br/>因失去含色素脑神经细胞而引致的中枢神经系统缓慢地渐进式退化性疾病。
            <br/>由注册脑神经科专科医生明确诊断为柏金逊病，并符合以下条件：
            <br/>•	无法以药物控制；及
            <br/>•	出现渐进性障碍的征状；及
            <br/>•	受保人在没有协助的情况下无法进行3项或以上的日常活动。
            <br/>本严重病况只包括原发性柏金逊病，而不包括其他形式的柏金逊病。
            <br/>25.	脊髓灰质炎（小儿麻痹症）
            <br/>由注册脑神经科专科医生明确诊断由小儿麻痹病毒感染而引起的瘫痪性疾病，并有运动功能受损或呼吸衰弱作为证明。没有涉及瘫痪或由其他原因引起的瘫痪将不符合本严重病况。
            <br/>26.	进行性延髓瘫痪
            <br/>由颅神经和皮质延髓束病损导致肌肉进行性退化，导致咀嚼、吞咽与谈话困难。必须由注册脑神经科专科医生诊断为进行性病变并已导致永久性神经系统受损，并有适当的神经肌肉测试如肌电图(EMG)作证据。
            <br/>27.	进行性核上性麻痹
            <br/>由注册脑神经科专科医生神经专科医生确认，确诊为进行性核上性麻痹。此外，亦必须出现永久丧失步行及平衡力。
            <br/>28.	严重重症肌无力症
            <br/>神经肌肉的后天性自身免疫力障碍，导致肌肉波动性乏力及疲劳。本症必须符合下列所有标准：
            <br/>•	根据以下美国重症肌无力症协会的临床分类界定为第四或第五类永久肌肉乏力；及
            <br/>•	经注册脑神经科专科医生诊断为重症肌无力症并确定分类。
            <br/>美国重症肌无力症协会的临床分类：
            <br/>第一类：任何眼肌乏力情况，可能出现上睑下垂，其他部位并无肌肉乏力情况
            <br/>第二类：任何严重程度的眼肌乏力，其他肌肉轻度乏力
            <br/>第三类：任何严重程度的眼肌乏力，其他肌肉中度乏力
            <br/>第四类：任何严重程度的眼肌乏力，其他肌肉严重乏力
            <br/>第五类：需插管呼吸
            <br/>29.	脊髓肌肉萎缩症
            <br/>脊髓前角细胞及脑干运动细胞核的退化病变，以近侧的肌肉无力和萎缩为主要特征，由腿部为最先开始并逐步扩散至远侧的肌肉。有关病变必须在不涉及任何其他因素下直接导致受保人在没有协助的情况下永久失去进行3项或以上日常活动的能力。
            <br/>脊髓肌肉萎缩症的诊断必须由注册专科医生证实并附有适当的神经肌肉检验如肌电图证明(EMG)
            <br/>30.	中风
            <br/>任何脑血管病发事件，引起神经系统后遗症持续超过24小时，包括脑组织梗塞、脑出血及源自头颅外之栓塞
            <br/>本项疾病必须导致神经功能性受损，发病后至少4个星期由注册脑神经科专科医生进行身体检查，确认有客观神经异常症状。
            <br/>以下情况不在受保之列：
            <br/>a)	短暂性脑缺血发作（TIA）；
            <br/>b)	由于偏头痛而导致的脑损伤；及
            <br/>c)	对眼或视觉神经或前庭系统功能造成影响的血管疾病。
            <br/>四、	与主要器官及功能相关的疾病
            <br/>31.	慢性肝病
            <br/>末期肝病，并具备下列所有证明：
            <br/>•永久性黄疸；
            <br/>•腹水；及
            <br/>•脑病。
            <br/>本严重病况不包括由酒精或滥用药物引致的肝病。
            <br/>32.	复发性慢性胰脏炎
            <br/>经注册肠胃科专科医生诊断为复发性慢性胰脏炎，并证实胰脏持续性发炎，其病征有不可逆转的形态转变及典型疼痛及/或永久性的功能损坏。本病症必须由胰脏功能测试及放射及影像证据证实。任何直接地或间接地、完全地或部分地由酗酒导致的复发性胰脏炎并不在保障范围内。
            <br/>33.	末期肺病
            <br/>末期肺病包括间质性肺病，需要永久接受氧气治疗及1秒用力呼气量（FEV1）测试结果持续少于1公升。
            <br/>34.	肾衰竭
            <br/>由任何原因引起的末期肾病，使受保人需定期进行腹膜透析或血液透析。
            <br/>35.	主要器官移植
            <br/>受保人作为受赠者接受心脏、肺、肝脏、胰脏、肾脏或骨髓移植手术。
            <br/>36.	坏死性筋膜炎
            <br/>指符合以下条件的坏死筋膜炎：
            <br/>•符合一般坏死性筋膜炎的临床标准；及
            <br/>•所识别的细菌是引致坏死性筋膜炎的原因；及
            <br/>•广泛性肌肉及软组织损坏并导致最少手肘或膝盖以上整条肢体完全及永久性丧失功能。
            <br/>诊断必须由相关医学范畴的注册专科医生证实。
            <br/>37.	肢体切断
            <br/>两肢或以上不可复原地切断，切断须在手肘或膝盖以上。
            <br/>38.	系统性红斑狼疮而并发狼疮性肾炎
            <br/>一种慢性缓和复发性多系统炎症疾病，是由于致病的自身抗体及免疫系统综合症沉积而使人体组织及细胞受损。诊断必须基于下列条件：
            <br/>•在任何观察期间内，临床上必须连续或同时出现由美国风湿病学会(ACR)建议的最少四项征状；及
            <br/>•出现经肾活组织检查确定为国际肾脏协会／肾脏病理协会(ISN/RPS)的狼疮性肾炎分类(2003)中的第III级、第IV级、第V级或第VI级的狼疮性肾炎。
            <br/>五、	末期疾病及伤残
            <br/>39.	失去独立生活能力
            <br/>受保人在没有他人长期辅助的情况下，永久地丧失进行3项或以上的日常活动能力。
            <br/>本严重病况疾病承保范围于受保人年届65岁时终止，本严重病况疾病不包括任何因精神科引起的情况。
            <br/>40.	末期疾病
            <br/>根据有关注册专科医生的意见，受保人很有可能于12个月内身故，并获本公司之指定注册医生接纳。
            <br/>41.	完全及永久伤残
            <br/>受保人于65岁前因受伤或患病导致完全及永久伤残。在下列情况下，受保人将被视为完全及永久伤残：
            <br/>(i)完全及永久地没有能力从事任何可获得收入或利润的职业、业务或活动。上述伤残必须不间断持续超过180日；或
            <br/>(ii)受保人：
            <br/>•双眼完全失去视力并无法复原；或
            <br/>•完全及不可复原地丧失使用两肢(在手腕或足踝关节或以上)的能力；或
            <br/>•一只眼睛完全失去视力并无法复原，及完全及不可复原地丧失使用任何一肢（在手腕或足踝关节或以上）的能力。
            <br/>「丧失使用能力」是指完全及永久性瘫痪或切断。
            <br/>假如受保人于开始完全及永久伤残时的年龄不足15岁或并非从事任何职业，他/她必须符合上述第(ii)点的情况下才会被视为完全及永久伤残。
            <br/>有关伤残情况须由本公司认可接纳的注册医生以书面证明。
            <br/>六、	其他疾病
            <br/>42.	因输血引致的爱滋病
            <br/>受保人在下列情况下感染人类免疫缺陷病毒（艾滋病病毒）或后天免疫缺陷综合症（艾滋病）：
            <br/>•该感染于保障生效的日期或任何复效日期后（以较迟者为准）因接受输血引致；及
            <br/>•输血是在相关医学范畴的注册专科医生的建议及正常照顾及护理下，于香港合法医院进行；及
            <br/>•受感染的受保人并非血友病患者；及
            <br/>•进行输血的相关医学范畴的注册专科医生，以及提供有关输血所用的特定血液或血液制品的香港合法血液或血液制品供货商，证实受保人是由于输血而感染了人类免疫缺陷病毒或艾滋病
            <br/>43.	障碍性贫血
            <br/>骨髓机能衰竭引致贫血、中性白血球减少或血小板减少，令受保人需进行下列最少1项的治疗：
            <br/>•输入血液产品
            <br/>•骨髓刺激剂
            <br/>•免疫抑制剂
            <br/>•骨髓移植
            <br/>44.	失明
            <br/>双眼完全失明并不可复原。
            <br/>45.	克罗恩氏病
            <br/>克罗恩氏病是一种慢性、跨壁炎症紊乱引起的肠瘘并形成肠梗阻或肠穿孔。本严重病况只包括严重克罗恩氏病，其会出现以下情况：
            <br/>•持续使用慢性药物治疗；及
            <br/>•进行多次肠道切除手术。
            <br/>严重克罗恩氏病必须由注册肠胃科专科医生所诊断，并以病理报告及/或乙状结肠镜检查或结肠镜检查结果所证明。
            <br/>46.	失聪
            <br/>双耳完全失去听觉并不可复原。
            <br/>47.	伊波拉
            <br/>伊波拉病毒感染须符合下列要求：
            <br/>•须由化验确认伊波拉病毒之存在；及
            <br/>•	不断因感染引致并发症，并自出现有关征状开始起计持续超过30日；及
            <br/>•该感染并不导致死亡。
            <br/>48.	象皮病
            <br/>由丝虫病引起或其并发症，特征为由于淋巴血管循环阻塞而造成身体组织大范围肿胀，必须由相关医学范畴的注册专科医生临床确定诊断为象皮病，包括检验证实幼丝虫属存在，并须得到本公司医学顾问支持诊断结果。
            <br/>本严重病况不包括由性接触传染的疾病、创伤、手术后疤痕、充血性心脏衰竭或先天性淋巴系统异常引起的淋巴水肿。
            <br/>49.	暴发性病毒肝炎
            <br/>由病毒性肝炎引起的亚全部或全部肝脏坏死，导致突发性肝衰竭，但不包括由相关医学范畴的注册专科医生证明因药物及酒精滥用引致的情况，并须符合下列的诊断标准：
            <br/>•肝脏急剧缩小；及
            <br/>•整块肝叶坏死，只余下萎陷的网状支架；及
            <br/>•肝功能测试急剧退化；及
            <br/>•黄疸加深。
            <br/>50.	丧失语言能力
            <br/>由于声带受损而引致完全永久丧失说话能力并无法复原，并须连续12个月没有间断。
            <br/>51.	严重烧伤
            <br/>3级程度烧伤并覆盖受保人身体表面面积最少20%。
            <br/>52.	肾髓质囊肿病
            <br/>由相关医学范畴的注册专科医生诊断为肾髓质囊肿病，并证实已出现末期肾病，而受保人需要定期进行腹膜透析或血液透析。
            <br/>53.	因职业感染人类免疫缺陷病毒
            <br/>指在执行正常职务中，因意外受感染人类免疫缺陷病毒，并于意外发生起计6个月内，对人类免疫缺陷病毒抗体出现血清转化为阳性。任何可能促成索偿的意外，必须于发生起计30日内向本公司报告，并提供于意外后立刻进行的人类免疫缺陷病毒抗体阴性测试结果。假如研制出有效率及有效用的人类免疫缺陷病毒／艾滋病疫苗，本严重病况承保范围将终止。
            <br/>本严重病况不包括经由性接触传播的人类免疫缺陷病毒感染
            <br/>54.	严重类风湿关节炎
            <br/>严重类风湿关节炎必须符合以下所有标准：
            <br/>a)	由注册风湿病科专科医生证实符合美国风湿病学会(ACR)就类风湿关节炎分类所界定之诊断准则；及
            <br/>b)	广泛性关节损坏及下列之部位有三个或以上出现严重的临床变形：手、手腕、手肘、脊椎、膝、足踝、足；及
            <br/>c)	在没有协助的情况下永久失去进行两项日常活动的能力；及
            <br/>d)	状况已持续最少六个月。
            <br/>55.	严重溃疡性结肠炎
            <br/>严重溃疡性结肠炎是指大肠内（结肠及直肠）发炎。必须有活体组织证据明确地证明溃疡性结肠炎的存在，并且必须有造影或内窥镜的证据证明状况涉及整条结肠及直肠。
            <br/>就本严重病况而言，必须有由注册肠胃科专科医生监督下，为期至少3个月的持续性系统性免疫抑制剂治疗或免疫调节剂治疗。其他种类之发炎性结肠炎则明确不受此保障，限于直肠的溃疡性结肠炎亦明确不受此保障。
            <br/>56.	系统性硬皮病
            <br/>系统性胶原血管疾病，导致皮肤、血管及内脏器官渐进出现弥漫性纤维化。诊断必须有明确的活组织及血清检验结果作证，而疾病必须已影响全身，包括心脏、肺部或肾脏。
            <br/>以下疾病概不承保：
            <br/>•	局限性硬皮病(线状硬皮病或硬斑病)；
            <br/>•	嗜酸性筋膜炎；及
            <br/>•	肢端硬皮综合症。
            <br/>系统性硬皮病的明确诊断必须经注册风湿病科专科医生确认。
<br/>
            <br/>(本条款仅供参考，实际条款以官方发布为准)
        </p>

    </div>
</div>
</body>
</html>