
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>富足三代 - 保障条款</title>
        <meta name="description" content="Pushy is an off-canvas navigation menu for your website.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/site.css">
        <!-- Pushy CSS -->
        <link rel="stylesheet" href="../css/pushy.css">
        <link href="../css/style.css" rel="stylesheet" />
        <style>
            ul, menu, dir {
                display: block;
                list-style-type: disc;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 40px;
            }
            html, body {
                color: #3f3f3f;
                font-size: 14px;
            }
            .main-title{
                position: relative;
                top: 8px;
            }
            .header-section-li{
                width: 100%;
                height: 2.6rem;
                background-size: 100% 100%;
                background-color: #000;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
                text-align: center;
                color: white;
            }
            #container{
                margin-top: 20px;
            }
            .menu-btn{
                width: 73px;
                float: left;
            }
            .back-btn{
                padding: 10px;
                margin-bottom: 30px;
                background: #000;
                color: #FFF;
                text-align: center;
                border: 0;
                float: right;
            }
        </style>
        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Pushy Menu -->
        <nav class="pushy pushy-left" data-focus="#first-link">
            <div class="pushy-content">
                <ul>
                    <li class="pushy-link"><a href="#1">1.有那些保障？</a></li>
                    <li class="pushy-link"><a href="#2">2.会支付什么身故保障？</a></li>
                    <li class="pushy-link"><a href="#3">3.会支付甚么意外身故赔偿</a></li>
                    <li class="pushy-link"><a href="#4">4.会支付甚么投保人意外身故保障?</a></li>
                    <li class="pushy-link"><a href="#5">5.甚么是意外？</a></li>
                    <li class="pushy-link"><a href="#6">6.甚么情况不被视为意外？</a></li>
                    <li class="pushy-link"><a href="#7">7.本公司会支付甚么学术优异奖？</a></li>
                    <li class="pushy-link"><a href="#8">8.如何就学术优异奖索偿？</a></li>
                    <li class="pushy-link"><a href="#9">9.有甚么身故赔偿支付选择可供选择？</a></li>
                    <li class="pushy-link"><a href="#10">10.如何更改身故赔偿支付选择？</a></li>
                    <li class="pushy-link"><a href="#11">11.保障不包括甚么？</a></li>
                </ul>
            </div>
        </nav>

        <!-- Site Overlay -->
        <div class="site-overlay"></div>
        <div class="header-section-li">
            <!-- Menu Button -->
            <button class="menu-btn">&#9776; 菜单</button>
            <span class="main-title">富足三代 - 保障条款</span>
            <button class="back-btn">返回小程序</button>
        </div>
        <!-- Your Content -->
        <div id="container">

<h1>保障条款</h1>
<h2 id="1">1.	有那些保障计划？</h2>
<p>本分项详述特级「本计划」的保障。 </p>


<h2 id="2">2.	本公司会支付甚么身故赔偿？</h2>
<p>在符合本保单之所有条款下，假如阁下的人寿保险证书显示的受保人在保单生效期间身故，本公司将根据阁下于下述第9条所选择的身故赔偿支付选择支付以下各项之总和作为身故赔偿，惟须扣除阁下未偿还本公司之任何贷款及利息： </p>
<ul>
  <li>于受保人身故时，根据随附之「保证现金价值表」，于本计划下应支付之保证现金价值。假如于身故时，阁下已缴交的保费为全年保费中的一部份，保证现金价值将相应调整；及 </li>
  <li>所有累积之归原红利的面值（如有）；及 </li>
  <li>特别红利的面值（如有）。 </li>
</ul>
<p>尽管有上述之规定，本公司将保证支付不少于就本计划之已缴交的总基本保费的100%（不包括任何附加保障之保费）（「已缴总保费」），并由首个保单周年日至第十个保单周年日，于每个保单周年日增加3.5%，直至最高已缴总保费的135%，惟该保证金额须扣除阁下未偿还本公司之任何贷款及利息，以及于保单年期内阁下曾套现任何归原红利及其相关的特别红利的现金价值。 </p>
<p>已缴总保费指于受保人身故当日，本计划已到期及已缴付之基本保费总额（不包括附加保障之保费，如有），惟不包括任何存入保费储蓄户口的预缴保费。假如本保单有任何更改而导致就本计划已到期及已缴付之基本保费总额有所变更，已缴总保费将被作出相应调整。 </p>


<h2 id="3">3.	本公司会支付甚么意外身故赔偿？</h2>
<p>在符合本保单之所有条款下，假如受保人于意外发生起计九十日内因该意外身故，而该次意外发生于本计划之第五个保单周年日或保费期满日（显示于阁下的人寿保险证书）的完结之前（以较后者为准），本公司除了支付身故赔偿外（根据上述第2条所述），将向受益人支付一笔相等于已缴总保费100%的额外金额。</p>
<p>就同一受保人的所有生效的特级「隽升」储蓄保障计划、特级「隽升」储蓄保障计划II、特级「隽升」储蓄保障计划（整付保费）及/或特级「隽升」储蓄保障计划II（整付保费）的保单之意外身故赔偿总额将不超过1,000,000港元。假如受保人受保多于一份不同货币的特级「隽升」储蓄保障计划、特级「隽升」储蓄保障计划II、特级「隽升」储蓄保障计划（整付保费）及/或特级「隽升」储蓄保障计划II（整付保费）的保单，当计算最高应付之意外身故赔偿金额时，所有不同货币之保单下应付的数额将以我们于绝对酌情权下不时厘订的当时兑换率合并计算。我们支付之意外身故赔偿将受本计划所有条款及本公司指定的行政规定约束。</p>
<p>意外身故赔偿只会于本计划下支付一次及意外身故赔偿将于本公司支付意外身故赔偿后被终止。</p>
<p>倘若受保人及保单持有人为同一人同时如上所述因该宗意外身故，我们将会就受保人之身故支付意外身故赔偿，而本保单会被终止及投保人意外身故保障将不会作出赔偿。</p>
<p>当受保人已被更换，意外身故赔偿将会由有关更改的生效日起终止。</p>
<h2 id="4">4.	本公司会支付甚么投保人意外身故保障?</h2>
<p>在符合本保单之所有条款下，假如保单持有人于意外发生起计九十日内因该意外身故，而该次意外发生于本计划之保费期满日（显示于阁下的人寿保险证书）完结之前，本公司将一笔过支付相等于保单持有人身故后于本计划到期之总基本保费（不包括任何附加保障（如有）的保费）。</p>
<p>若保单持有人及受保人并不是同一人而上述条件符合下，投保人意外身故保障将会支付，而有关赔偿将会存放于保费储蓄户口用作缴付将来的保费。</p>
<p>倘若受保人及保单持有人并非同一人，而两人同时因该宗意外身故，我们将会就受保人之身故支付意外身故赔偿，而本保单会被终止及投保人意外身故保障将不会作出赔偿。</p>
<p>若保单持有人及受保人为同一人，投保人意外身故保障将不会获得支付。</p>
<p>就同一保单持有人的所有生效的特级「隽升」储蓄保障计划II的保单之投保人意外身故保障总额将不超过1,000,000港元。假如保单持有人持有多于一份不同货币的特级「隽升」储蓄保障计划II的保单，当计算最高应付之投保人意外身故保障金额时，所有不同货币之保单下应付的数额将以我们于绝对酌情权下不时厘订的当时兑换率合并计算。我们支付之投保人意外身故保障赔偿将受本计划所有条款及本公司指定的行政规定约束。</p>
<p>本计划下的投保人意外身故保障只会支付一次及投保人意外身故保障将于本公司支付投保人意外身故保障后被终止。</p>
<p>当保单持有人已被转让，包括但不限于抵押转让或保单权益转让，投保人意外身故保障将被终止及投保人意外身故保障将不会作出赔偿。</p>
<h2 id="5">5.	甚么是意外？</h2>
<p>于本计划下被视为意外的条件必须为： </p>
<ul>
  <li>不可预见的类别；及 </li>
  <li>由猛烈及可见的外来因素所造成；及 </li>
  <li>引致受保人或保单持有人身故的唯一及独立原因。 </li>
</ul>

<h2 id="6">6.	甚么情况不被视为意外？</h2>
<p>假如受保人或保单持有人直接或间接因以下原因引致的身故，将不被视为因意外身故： </p>
<ul>
  <li>战争、战斗（不论是否已宣战）、叛乱、暴动、暴乱或民事骚乱；或 </li>
  <li>服用酒精、毒品或药物，但由注册医生处方服用则除外；或 </li>
  <li>在神志正常或失常的情况下企图自杀，自杀或蓄意自残；或 </li>
  <li>参与任何刑事罪行；或 </li>
  <li>进行水肺潜水，或参加任何非徒步进行的比赛；或 </li>
  <li> 乘坐任何交通工具或装置作空中航行，而非乘坐固定航线的公共空中交通工具的付费乘客；或 </li>
  <li>在特别条款（如有）中除外条款下的活动或疾病。 </li>
</ul>
<p><strong>「注册医生」</strong>是指拥有西医学位资格，并在其执业地区获法律认可，可提供医疗或手术服务的人士，但不包括任何于本保单下的受保人、保单持有人或受益人，或保单持有人或受保人之商业合伙人、保险代理或雇主／雇员，或受保人或保单持有人之直系亲属，除非该人士已预先获本公司以书面认可。 </p>

<h2 id="7">7.	本公司会支付甚么学术优异奖？</h2>
<p>在符合本保单之所有条款下，当收到相关符合要求的证明文件，本公司会于保单生效日起的1年后及于紧随受保人25岁的保单周年日之前达成下列任何一项的成就时向受保人支付学术优异奖：</p>
<p>(i)	若在同一届之香港中学文凭考试内报考最少六科，并在最少三科中取得优异成绩（5*或以上），即可获得每科2,000港元之奖金。假如于香港中学文凭考试的单一科目内设有多于一份试卷，无论当中的试卷成绩如何，学术优异奖将只根据该科目的总评级发放；或</p>
<p>(ii)	若于托福考试获取110分或以上，即可获得5,000港元之奖金。假如托福考试于考试的单一科目内设有多于一份试卷，无论当中的试卷成绩如何，学术优异奖将只根据该科目的总评级发放；或</p>
<p>(iii)	若于国际英语水平测试获取8分或以上，即可获得5,000港元之奖金。假如国际英语水平测试的单一科目内设有多于一份试卷，无论当中的试卷成绩如何，学术优异奖将只根据该科目的总评级发放；或</p>
<p>(iv)	若于国际文凭大学预科课程获取41分或以上，即可获得5,000港元之奖金。假如国际文凭大学预科课程于考试的单一科目内设有多于一份试卷，无论当中的试卷成绩如何，学术优异奖将只根据该科目的总评级发放；或</p>
<p>(v)	若于取录通知书发出日期或以前，根据本公司网站之最新刊登显示，所获取入读全日制学士学位的大学为全球十大大学，即可获得20,000港元之奖金。</p>
<p>就同一受保人的所有生效的特级「隽升」储蓄保障计划II及特级「隽升」储蓄保障计划II（整付保费）的保单，本公司只支付学术优异奖一次。</p>
<p>本保单只会支付一次学术优异奖。当已就任何一项学术优异奖支付，本学术优异奖会终止。</p>
<p>当受保人已被更换，学术优异奖将会由有关更改的生效日起终止。</p>
<p>本公司保留不时更改学术优异奖条款及细则之权利。</p>
<h2 id="8">8.	如何就学术优异奖索偿？</h2>
<p>阁下或索偿人（如受保人为阁下本人）必须于香港中学文凭证书或托福考试证书或国际英语水平测试证书或国际文凭大学预科课程证书或学士学位取录通知书的发出日期的180日内递交证明文件。若有关申请获接纳，本公司会向保单持有人发出通知。 </p>

<h2 id="9">9.	有甚么身故赔偿支付选择可供选择？</h2>
<p>在符合本保单之所有条款下，以下的身故赔偿支付选择可供本计划选择。当受保人身故，指定受益人将可根据阁下其最新已被本公司接纳及记录所选择的(a)身故赔偿支付选择及(b)支付年期(如适用)获得本计划所有应付的身故赔偿。</p>
<p>(i)	一笔过的形式支付</p>
<p>假如(a)阁下已作出此选择；或(b)阁下所选择的以每月分期形式支付的身故赔偿金额较本公司不时订定的赔款金额为低；或(c)没有作出选择，身故赔偿将以一笔过的形式支付。</p>
<p>(ii)	每月分期形式支付</p>
<p>身故赔偿将根据阁下所选择的年期以每月分期形式支付。余额将储存于本公司积存生息直至全数保障金额已获赔偿，息率由本公司决定及不时作出的公布为准。积存利息将于最后一期支付。</p>
<p>(iii)	以一笔过的形式按照指定的百分比支付及余额以每月分期形式支付</p>
<p>指定百分比的身故赔偿金额将以一笔过的形式支付，而余额将根据阁下所选择的年期以每月分期形式支付。余额将储存于本公司积存生息至全数保障金额已获赔偿，息率由本公司决定及不时作出的公布为准。积存利息将于最后一期支付。</p>
<p>若受益人于全数身故赔偿的金额获发放前身故，本公司将于收到有关已故受益人合理的死亡证明后，向其遗产以一笔过的形式支付身故赔偿余额连同截至受益人身故当日任何积存利息。若多于一个受益人，在生的受益人将可继续获得他/她自己相关部分的赔偿金额。于任何时候，受益人并不能更改由阁下所订定本计划身故赔偿支付选择的指示。</p>
<p>若本计划所选择的身故赔偿支付选择为上述第(ii)或第(iii)项，以每月分期形式支付的身故赔偿金额的余额将不会投资在分红保单业务基金，因此不影响由分红保单业务基金所得的利润。</p>
<p>除本保单于本计划身故赔偿支付选择的相关条款会有效至最后一期的分期付款外，本保单将于受保人身故后自动被终止。</p>
<h2 id="10">10.	如何更改身故赔偿支付选择？</h2>
<p>于受保人在生及本保单生效期间，阁下可塡妥指定的表格更改本计划身故赔偿支付选择并交回本公司。不论受保人当时是否在生，阁下的要求将由本公司接纳及于本保单加上批注后生效。 </p>
<p>假如受保人已被更换或本保单已被转让，包括但不限于抵押转让或保单权益转让，本计划身故赔偿支付选择将被撤销。本公司只会就身故赔偿作出一笔过的形式支付，直至本公司接纳及记录另一个于本计划身故赔偿支付选择指示。 </p>

<h2 id="11">11.	保障不包括甚么？</h2>
<p>假如受保人直接或间接因列明于随附的特别条款（如有）中之除外条款下的活动或疾病而身故，本公司将不会支付任何身故赔偿。 </p>


    </div>

        <!-- Pushy JS -->
        <script src="../js/pushy.js?v=1.1.0"></script>
        <script type="text/javascript" src="../js/jwexin.js"></script>

        <script>
            function GetQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
                var context = "";

                if (r != null)
                    context = r[2];
                reg = null;
                r = null;
                return context == null || context == "" || context == "undefined" ? "" : context;
            }
            //?&proName= ' + submitData.proName + 'be=' + submitData.be + 'be=' + submitData.be + 'bf=' + submitData.bf + 'birth=' + submitData.birth + 'calYears=' + submitData.calYears + 'giveMoneyYear=' + submitData.giveMoneyYear + 'living=' + submitData.living + 'sex=' + submitData.sex + 'smoke=' +submitData.smoke
            $('.back-btn').on('click' , function(){
                let redirectUrl = '/pages/result/'+GetQueryString('proName')+'?be=' + GetQueryString('be') + '&bf=' + GetQueryString('bf') + '&birth=' +GetQueryString('birth') + '&calYears=' + GetQueryString('calYears') + '&giveMoneyYear=' + GetQueryString('giveMoneyYear') + '&living=' + GetQueryString('living') + '&sex=' + GetQueryString('sex') + '&smoke=' + GetQueryString('smoke');

                wx.miniProgram.redirectTo({url: redirectUrl})
            })
        </script>

        

    </body>
</html>
