
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>危疾终身全护保 - 保障条款</title>
        <meta name="description" content="Pushy is an off-canvas navigation menu for your website.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/site.css">
        <!-- Pushy CSS -->
        <link rel="stylesheet" href="../css/pushy.css">
        <link href="../css/style.css" rel="stylesheet" />
        <style>
            ul, menu, dir {
                display: block;
                list-style-type: disc;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 40px;
            }
            html, body {
                color: #3f3f3f;
                font-size: 14px;
            }
            .main-title{
                position: relative;
                top: 8px;
            }
            .header-section-li{
                width: 100%;
                height: 2.6rem;
                background-size: 100% 100%;
                background-color: #000;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
                text-align: center;
                color: white;
            }
            #container{
                margin-top: 20px;
            }
            .menu-btn{
                width: 73px;
                float: left;
            }
            .back-btn{
                padding: 10px;
                margin-bottom: 30px;
                background: #000;
                color: #FFF;
                text-align: center;
                border: 0;
                float: right;
            }
        </style>
        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Pushy Menu -->
        <nav class="pushy pushy-left" data-focus="#first-link">
            <div class="pushy-content">
                <ul>
                    <li class="pushy-link"><a href="#1">1.有那些保障计划？</a></li>
                    <li class="pushy-link"><a href="#2">2.本计划中之以下词汇有什么涵义？</a></li>
                    <li class="pushy-link"><a href="#3">3.本公司会支付什么身故保障？</a></li>
                    <li class="pushy-link"><a href="#4">4.本公司会支付什么早期严重疾病保障？</a></li>
                    <li class="pushy-link"><a href="#5">5.本公司会支付什么严重疾病保障？</a></li>
                    <li class="pushy-link"><a href="#6">6.本公司会支付什么末期严重疾病额外保障？</a></li>
                    <li class="pushy-link"><a href="#7">7.什么是还原保障？</a></li>
                    <li class="pushy-link"><a href="#8">8.什么是终期红利？</a></li>
                    <li class="pushy-link"><a href="#9">9.本计划不保障什么？</a></li>
                    <li class="pushy-link"><a href="#10">10.保费调整</a></li>
                    <li class="pushy-link"><a href="#11">11.如何提出索偿？</a></li>
                </ul>
            </div>
        </nav>

        <!-- Site Overlay -->
        <div class="site-overlay"></div>
        <div class="header-section-li">
            <!-- Menu Button -->
            <button class="menu-btn">&#9776; 菜单</button>
            <span class="main-title">危疾终身全护保 - 保障条款</span>
            <button class="back-btn">返回小程序</button>
        </div>

        <!-- Your Content -->
        <div id="container">

<h1>保障条款</h1>
<h2 id="1">1.	有那些保障计划？</h2>
<p>本分项详述危疾终身全护保（「本计划」）的保障。 </p>

<h2 id="2">2.	名词解释</h2>
<p>本计划中出现的以下词汇具有特别涵义如下：</p>
<p><strong>「意外」是</strong>指任何由猛烈及可见的外来因素造成无法预见的事故；并为受保人造成身体受伤的唯一及独立原因。「意外的」将按此释义诠释。</p>
<p><strong>「日常活动」</strong>是指： </p>
<ul>
  <li>梳洗——于浴缸洗澡或淋浴（包括进出浴缸或淋浴室）的能力或以其他方式满意及合理地完成梳洗。 </li>
  <li>穿衣——穿上、脱下、系紧或松开各种衣服或任何适当的支架、义肢或其他外科器具的能力。 </li>
  <li>进食——当食物准备好时，自己进食的能力。 </li>
  <li>如厕——使用洗手间或控制大小便，以保持满意的个人卫生的能力。 </li>
  <li>移动——从床移动到直背椅子或轮椅上的能力，及从椅子或轮椅移动到床的能力。 </li>
</ul>
<p><strong>「当时保额」</strong>是指于阁下的人寿保险证书所显示本计划的最初保额连同任何于递增保障权益下增加的保障（如有附加）及任何我们所接受调减的保额（如我们接受调减保额）。 </p>
<p><strong>「病况」</strong>是指任何于本第2条所定义之早期严重病况、严重病况及末期严重病况。 </p>
 <p> <strong>「早期严重病况」</strong>是指载于随附之「早期严重病况之定义」文件中的任何病况。 </p>
 <p><strong>「医院」</strong>是指一所依法组成、并根据其所处国家的法律营运的机构，并且： </p>
 <ul>
   <li>以住院形式为病人及伤者提供护理及治疗；及 </li>
   <li>具备进行大型手术所需的设备；及 </li>
   <li>提供全日护理服务；及 </li>
   <li>具有注册医生于一日二十四小时当值；及 </li>
   <li>并非主要是一家诊所，或为长者、伤残人士、精神紊乱人士、酗酒人士或有毒瘾人士而设的收容中心，或作护理、休养，或疗养的院舍或复康医院／中心。 </li>
 </ul>
 <p><strong>「末期严重病况」</strong>是指载于随附之「末期严重病况之定义」文件中的任何病况。 </p>
 <p><strong>「受保人」</strong>是指本保单下于阁下的人寿保险证书上列明为「受保人」的人士。 </p>
<p><strong>「严重病况」</strong>是指载于随附之「严重病况之定义」文件中的任何病况。 </p>
<p><strong>「医疗需要」</strong>是指关于医疗的治疗及／或服务并符合下列条件： </p>
 <ul>
   <li>符合病情的诊断及符合处理该等病情之常规医疗的治疗；及 </li>
   <li>符合被广泛认可的医疗方法之标准；及 </li>
   <li>并非纯粹为方便受保人及其亲属，或注册专科医生或注册医生而提供的。受保人接受的医疗实验及／或非主流医疗技术／程序均不属医疗需要。 </li>
 </ul>
 <p><strong>「注册医生」</strong>是指拥有西医学位资格，并在其执业地区获法律认可，可提供医疗或手术服务的人士，但不包括任何于本保单下的受保人、保单持有人或受益人，或保单持有人或受保人之商业合伙人、保险代理或雇主／雇员，或受保人或保单持有人之直系亲属，除非该人士已预先获本公司以书面认可。 </p>
 <p><strong>「注册专科医生」</strong>是指根据其认可专科具备提供专科医疗护理资格及于香港医务委员会专科注册处或同等机构注册的人士，但不包括任何于本保单下的受保人、保单持有人或受益人，或保单持有人或受保人之商业合伙人、保险代理或雇主／雇员，或受保人或保单持有人之直系亲属，除非该人士已预先获本公司以书面认可。 </p>
 <p><strong>「终期红利」</strong>是指以下第8条所定并可支付的非保证红利。 </p>
<h2 id="3">3.	本公司会支付什么身故保障？</h2>
<p>在符合本保单之所有条款下，假如受保人于本计划生效期间身故，本公司将支付身故保障，金额为当时保额的100%加上任何终期红利之面值，但需扣除 </p>
<ol>
  <li>就本计划须支付及／或已付讫的早期严重疾病保障总额，及 </li>
  <li>任何阁下未偿还本公司之贷款及利息。 </li>
</ol>
<p>在支付本条款下之身故保障后，本计划将会终止。 </p>

<h2 id="4">4.	本公司会支付什么早期严重疾病保障？</h2>
<p>在符合本保单之所有条款下，假如受保人于本计划生效期间被注册专科医生诊断为患上早期严重病况并以书面作实，本公司将支付早期严重疾病保障。早期严重疾病保障将为： </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;4.1 如该早期严重病况为原位癌（其涵义载于随附之「早期严重病况之定义」文件中第1条），早期严重疾病保障相等于当时保额之25%，惟同一受保人名下所有守护健康危疾全护保及额外危疾全护保须支付及／或已付讫的原位癌赔偿，须受限于50,000美元（或400,000港元，根据阁下人寿保险证书上显示的保单货币而定）； </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;4.2 如该早期严重病况为早期甲状腺或前列腺癌（其涵义载于随附之「早期严重病况之定义」文件中第2条），早期严重疾病保障相等于当时保额之25%，惟同一受保人名下所有守护健康危疾全护保及额外危疾全护保须支付及／或已付讫的早期甲状腺或前列腺癌赔偿，须受限于50,000美元（或400,000港元，根据阁下人寿保险证书上显示的保单货币而定）； </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;4.3 如该早期严重病况为冠状动脉血管成形术（其涵义载于随附之「早期严重病况之定义」文件中第3条），早期严重疾病保障相等于当时保额之25%，惟同一受保人名下所有守护健康危疾全护保及额外危疾全护保须支付及／或已付讫的冠状动脉血管成形术赔偿，须受限于50,000美元（或400,000港元，根据阁下人寿保险证书上显示的保单货币而定）； </p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;4.4 如属原位癌、早期甲状腺或前列腺癌及冠状动脉血管成形术以外的其他早期严重病况（其涵义载于随附之「早期严重病况之定义」文件中第4条至第18条），早期严重疾病保障相等于当时保额之20%，惟同一受保人名下所有守护健康危疾全护保及额外危疾全护保须支付及／或已付讫的所有该等早期严重病况赔偿，须受限于50,000美元（或400,000港元，根据阁下人寿保险证书上显示的保单货币而定）。 </p>
<p>当支付早期严重疾病保障时，本公司将扣除任何阁下未偿还本公司之贷款及利息。 </p>
<p>如根据上文第4.1、4.2、4.3或4.4条分别就原位癌、早期甲状腺或前列腺癌、冠状动脉血管成形术或其他早期严重病况于守护健康危疾全护保及额外危疾全护保的赔偿总额到达50,000美元（或400,000港元，根据阁下人寿保险证书上显示的保单货币而定），有关早期严重疾病保障将按相关保额与同一受保人所有生效的守护健康危疾全护保及额外危疾全护保的总保额之比例，于相关计划／保障下予以缴付。 </p>
<p>本计划最多只会支付三次早期严重疾病保障赔偿。其中最多可就上文第4.1条所述的原位癌及上文第4.3条所述的冠状动脉血管成形术分别索偿两次，就上文第4.2条所述的早期甲状腺或前列腺癌可索偿一次，而就上文第4.4条所述的所有其他早期严重病况则只可索偿一次。 </p>
<h2 id="5">5.	本公司会支付什么严重疾病保障？</h2>
<p>在符合本保单之所有条款下，假如受保人于本计划生效期间被注册专科医生诊断为患上严重病况并以书面作实，本公司将支付严重疾病保障，金额为当时保额的100%加上任何终期红利之面值，但需扣除(i)就本计划须支付及／或已付讫的早期严重疾病保障总额，及(ii)任何阁下未偿还本公司之贷款及利息。</p>
<p>在支付本条款下之严重疾病保障后，本计划将会终止。 </p>
<h2 id="6">6.	本公司会支付什么末期严重疾病额外保障？</h2>
<p>
    在符合本保单之所有条款下，本公司在下列情况下向阁下或阁下之受益人
    （如支付赔偿时受保人并不在生）支付金额相等于当时保额之20%的一次性末期严重疾病额外保障：
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;6.1&nbsp; 于本计划生效期间，如受保人被注册专科医生诊断为患上属末期严重病况之阿耳滋海默氏症、多发性硬化症或柏金逊病（其涵义分别载于随附之「末期严重病况之定义」文件中第3、4或5条）并以书面作实，或受保人被注册专科医生首次诊断为患上属末期严重病况之癌症、心脏病发作或中风（其涵义分别载于随附之「末期严重病况之定义」文件中第1、2或6条）并以书面作实；或
</p>
<p>
   &nbsp;&nbsp;&nbsp;&nbsp; 6.2&nbsp; 如于第5条严重疾病保障就癌症、心脏病发作或中风（其涵义分别载于随附之「严重病况之定义」文件中第1、5或31条）已支付，而本计划亦因此而被终止，其后同一严重病况于指定时期（其涵义分别载于随附之「末期严重病况之定义」文件中第1.2、2.2或6.2条）内恶化至符合相关末期严重病况的定义（其涵义分别载于随附之「末期严重病况之定义」文件中第1.1、2.1或6.1条）。
</p>
<p>
    本末期严重疾病额外保障将会在末期严重疾病额外保障须支付及／或已付讫的情况下或指定时期完结时自动终止（以较先者为准）。
</p>
<h2 id="7">7.	什么是还原保障？</h2>
<p>
    于严重疾病保障或身故保障（其涵义分别载于本文第5及3条）须支付时，本公司将于支付严重疾病保障或身故保障时一同支付一次性之还原保障，惟相关严重疾病保障赔偿的严重病况诊断日期或身故保障赔偿的身故日期必须于紧随受保人74岁的保单周年日之前。
</p>
<p>
    还原保障的保障额相等于就本计划须支付及／或已付讫的早期严重疾病保障总额，惟该早期严重病况的诊断日期与相关严重疾病保障赔偿的严重病况诊断日期或身故保障赔偿的身故日期相距须最少一年。
</p>
<h2 id="8">8.	什么是终期红利？</h2>
<p>
    终期红利为一项一次过红利，并会于下列最早发生的情况下支付：
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;(i)支付身故保障；或
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;(ii) 支付严重疾病保障；或
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;(iii) 本计划终止，
</p>
<p>
    惟有关情况必须发生于第5个保单周年日或之后。
</p>
<p>
    在上述最早发生的情况下，当本公司支付严重疾病保障或身故保障时，终期红利之面值将被支付，但倘若以上述(i)或(ii)以外之理由终止本计划，终期红利之现金价值将被支付。终期红利之面值及现金价值并非保证。终期红利并不是永久附加于本计划上，在日后公布红利时，终期红利的金额或会有所增减。
</p>
<p>
    终期红利是根据本公司之经验以及现时预期的退保价值及红利率所计算，相关因素包括但不限于索偿、续保率及投资等方面的经验及／或假设。此数值为非保证，并由本公司不时作出检讨及全权酌情厘定。
</p>
<h2 id="9">9.	本计划不保障什么？</h2>
<p>
    在下列情况中，本公司将不会按照上文第4、5及6条的规定支付早期严重疾病保障、严重疾病保障或末期严重疾病额外保障：
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;(i)&nbsp; 该病况于本计划生效的日期前，或就复效之情况而言，由该复效之生效日期前（以较后者为准）已存在；或
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;(ii)&nbsp; 受保人于本计划生效的日期前，或就复效之情况而言，由该复效之生效日期前（以较后者为准），患有任何已存在病症或者出现任何征状或病征，因而有可能导致或引发病况；或
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;(iii)&nbsp; 受保人于本计划生效的日期起计的九十日内，或就复效之情况而言，由该复效之生效日期起计的九十日内，被注册专科医生诊断已患上该病况，或出现有可能导致或引发该病况的任何病患、疾病或身体状况的征状或病征（此不保事项并不适用于当病况是由意外所引起而受保人是被诊断于意外发生后九十日内患上该病况）；或
</p>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;(iv)&nbsp;该病况是由下列原因直接或间接引致：
</p>
<ol>
  <li>在神志正常或失常的情况下受保人企图自杀或蓄意自残；或 </li>
  <li>患上后天免疫缺陷综合症（艾滋病）、艾滋病相关复合症或感染人类免疫缺陷病毒，但因输血或职业感染人类免疫缺陷病毒而引致的艾滋病则除外（其涵义分别载于随附之「严重病况之定义」文件中第40及52条）；或 </li>
  <li>于受保人年满16岁前已出现征状或病征而导致的任何先天性或遗传疾病或发育中出现异常情况或已确诊的任何先天性或遗传疾病或发育中出现异常情况，惟本不保事项并不适用于随附之「早期严重病况之定义」文件中分别载于第12及16条定义之成骨不全症及严重血友病；及随附之「严重病况之定义」文件中分别载于第23及30条定义之肌营养不良及脊髓肌肉萎缩症；或 </li>
  <li>受保人使用的麻醉剂（但由注册医生处方使用则除外），或受保人滥用药物及／或酗酒；或 </li>
  <li>在特别条款（如有）中除外条款下列明的活动或疾病。 </li>
</ol>
<p>除上述条件外，假如严重病况是以受保人完全及永久伤残的形式呈现（其涵义载于随附之「严重病况之定义」文件中第57条所规定），并是直接或间接由下列原因引致，本公司将不会支付于上文第5条所指的严重疾病保障：</p>
<ul><li>战争、战斗（不论是否已宣战）、叛乱、暴动、暴乱或民事骚乱；或</li> 
<li>乘坐任何交通工具或装置作空中航行，而非乘坐固定航线的公共空中交通工具的付费乘客。</li>
</ul>
<h2 id="10">10.	保费调整</h2>
<p>本公司保留权利可于每个保单周年日检讨保费率，并相应划一调整特定风险级别的保费率。 </p>

<h2 id="11">11.	如何提出索偿</h2>
<p>当阁下提出本计划下的早期严重疾病保障、严重疾病保障或末期严重疾病额外保障索偿时，必须将以下文件交回本公司： </p>
<ul>
  <li>已填妥的索偿表格；及 </li>
  <li>由阁下自费取得由主诊注册专科医生签发的医疗报告。 </li>
</ul>
<p>阁下必须于诊断日期起计180日内向本公司提供一切所需资料，否则本公司将不会考虑阁下的索偿。 </p>
<p>本公司保留权利可要求阁下自费提供进一步的文件或证据，以协助本公司评核索偿。 </p>
<p>本公司保留指定一名注册医生或注册专科医生为受保人再作身体检查的权利。 </p>
    </div>

        <!-- Pushy JS -->
        <script src="../js/pushy.js?v=1.1.0"></script>
        <script type="text/javascript" src="../js/jwexin.js"></script>

        <script>
            function GetQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
                var context = "";

                if (r != null)
                    context = r[2];
                reg = null;
                r = null;
                return context == null || context == "" || context == "undefined" ? "" : context;
            }
            //?&proName= ' + submitData.proName + 'be=' + submitData.be + 'be=' + submitData.be + 'bf=' + submitData.bf + 'birth=' + submitData.birth + 'calYears=' + submitData.calYears + 'giveMoneyYear=' + submitData.giveMoneyYear + 'living=' + submitData.living + 'sex=' + submitData.sex + 'smoke=' +submitData.smoke
            $('.back-btn').on('click' , function(){
                let redirectUrl = '/pages/result/'+GetQueryString('proName')+'?be=' + GetQueryString('be') + '&bf=' + GetQueryString('bf') + '&birth=' +GetQueryString('birth') + '&calYears=' + GetQueryString('calYears') + '&giveMoneyYear=' + GetQueryString('giveMoneyYear') + '&living=' + GetQueryString('living') + '&sex=' + GetQueryString('sex') + '&smoke=' + GetQueryString('smoke');

                wx.miniProgram.redirectTo({url: redirectUrl})
            })
        </script>

        

    </body>
</html>
