
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>危疾终身全护保 - 早期疾病定义</title>
        <meta name="description" content="Pushy is an off-canvas navigation menu for your website.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/site.css">
        <!-- Pushy CSS -->
        <link rel="stylesheet" href="../css/pushy.css">
        <link href="../css/style.css" rel="stylesheet" />
        <style>
            ul, menu, dir {
                display: block;
                list-style-type: disc;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 40px;
            }
            html, body {
                color: #3f3f3f;
                font-size: 14px;
            }
            .main-title{
                position: relative;
                top: 8px;
            }
            .header-section-li{
                width: 100%;
                height: 2.6rem;
                background-size: 100% 100%;
                background-color: #000;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
                text-align: center;
                color: white;
            }
            #container{
                margin-top: 20px;
            }
            .menu-btn{
                width: 73px;
                float: left;
            }
            .back-btn{
                padding: 10px;
                margin-bottom: 30px;
                background: #000;
                color: #FFF;
                text-align: center;
                border: 0;
                float: right;
            }
        </style>
        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Pushy Menu -->
        <nav class="pushy pushy-left" data-focus="#first-link">
            <div class="pushy-content">
                <ul>
                   <li class="pushy-submenu">
                        <button id="first-link">一、癌症</button>
                        <ul>
                            <li class="pushy-link"><a href="#1">1.	原位癌</a></li>
                            <li class="pushy-link"><a href="#2">2.	早期甲状腺或前列腺癌</a></li>
                        </ul>
                    </li>
                    <li class="pushy-submenu">
                        <button id="first-link">二、	与心脏相关的疾病病</button>
                        <ul>
                            <li class="pushy-link"><a href="#3">3.冠状动脉血管成形术</a></li>
                            <li class="pushy-link"><a href="#4">4.胰岛素依赖型糖尿病</a></li>
                            <li class="pushy-link"><a href="#5">5.川崎病</a></li>
                            <li class="pushy-link"><a href="#6">6.风湿热合并心瓣膜损害</a></li>
                            <li class="pushy-link"><a href="#7">7.激光心肌血运重建术</a></li>
                        </ul>
                    </li>
                     <li class="pushy-submenu">
                        <button id="first-link">三、	与神经系统相关的疾病</button>
                        <ul>
                          <li class="pushy-link"><a href="#8">8.自闭症</a></li>
                          <li class="pushy-link"><a href="#9">9.严重精神病</a></li>
                          <li class="pushy-link"><a href="#10">10.第一型儿童脊髓肌萎缩</a></li>                        
                        </ul>
                      </li>
                      <li class="pushy-submenu">
                        <button id="first-link">四、	与主要器官及功能相关的疾病</button>
                        <ul>
                          <li class="pushy-link"><a href="#11">11.出血性登革热 </a></li>
                        </ul>
                      </li>
                      <li class="pushy-submenu">
                        <button id="first-link">五、	其他疾病</button>
                        <ul>
                          <li class="pushy-link"><a href="#12">12.成骨不全症</a></li>
                          <li class="pushy-link"><a href="#13">13.严重哮喘</a></li>
                          <li class="pushy-link"><a href="#14">14.严重中枢神经性睡眠窒息症或混合性睡眠窒息症</a></li>
                          <li class="pushy-link"><a href="#15">15.严重脑痫症</a></li>
                          <li class="pushy-link"><a href="#16">16.严重血友病</a></li>
                          <li class="pushy-link"><a href="#17">17.严重阻塞性睡眠窒息症</a></li>
                          <li class="pushy-link"><a href="#18">18.系统性儿童类风湿关节炎</a></li>
                        </ul>
                      </li>
                </ul>
            </div>
        </nav>

        <!-- Site Overlay -->
        <div class="site-overlay"></div>
        <div class="header-section-li">
            <!-- Menu Button -->
            <button class="menu-btn">&#9776; 菜单</button>
            <span class="main-title">危疾终身全护保 - 早期疾病定义</span>
            <button class="back-btn">返回小程序</button>
        </div>
        <!-- Your Content -->
        <div id="container">
<h1>早期疾病定义</h1>
<h2 >一、	癌症</h2>
<h3 id="1">1.	原位癌</h3>
<p >癌细胞的局部自行生长而没有浸润正常组织。「浸润」是指浸润透过上皮基膜。原位癌只限于发生在： </p>
<ul>
  <li>子宫颈，被界定为第三阶段的子宫颈上皮内瘤样病变(CINIII)或原位癌(CIS)； </li>
    <li>乳房； </li>
    <li>子宫； </li>
    <li>卵巢； </li>
    <li>输卵管； </li>
    <li>阴道； </li>
    <li>睪丸； </li>
    <li>大肠及直肠； </li>
    <li>阴茎； </li>
    <li>肺； </li>
    <li>胃及食道； </li>
    <li>泌尿道；或 </li>
    <li>鼻咽。 </li>
  </ul>
<p >原位癌必须由病理活组织检测结果作证，并经相关医学范畴的注册专科医生确认。单凭临床及细胞诊断将不足以符合本准则。 </p>
<p >如要符合就同一早期严重病况获发第二次赔偿，有关原位癌必须位于上述器官其中之一，而且与第一次索偿并获支付赔偿的相关器官不同。若器官由左右两部分所构成(乳房、输卵管、肺、卵巢及睪丸)，则左右两部分将被视为一个及相同的器官。 </p>


<h3 id="2">2.	早期甲状腺或前列腺癌</h3>
<p>早期甲状腺或前列腺癌指以下任何一种惡性肿瘤情况：</p>
<ul>
<li>根据TNM评级系统，任何在组织学上被界定为T1N0M0级别的甲状腺肿瘤；或</li>
<li>根据TNM评级系统，任何在组织学上被界定为T1a或T1b级别的前列腺肿瘤。</li>
</ul>
<p>上述病况的诊断必须有病理活组织检测结果作证，并经相关医学范畴的注册专科医生确认。</p>

<h2 >二、	与心脏相关的疾病</h2>
<h3 id="3">3.	冠状动脉血管成形术</h3>
<p>就一条或多条冠状动脉的收窄或阻塞，以经皮穿腔性冠狀动脉血管成形术(PTCA)、冠狀动脉粥样硬块切除术或相类似动脉内导管操作法进行治療。有关血管成形术必须获注册心脏科专科医生认为属医疗需要，并有血管造影的证明有冠状动脉病，其狭窄程度最少为50%。</p>
<p>若要符合冠状动脉血管成形术第二次索偿的资格，除须符合上述冠状动脉血管成形术的条件外，有关治疗的主要冠状动脉的收窄或阻塞位置在此疾病首次索偿时的冠状动脉造影显示，其狭窄程度为不多于60%。 </p>
<h3 id="4">4.	胰岛素依赖型糖尿病</h3>
<p>特点为烦渴、多尿、食欲增加、体重下降、血浆胰岛素含量低，出现间歇性酮酸中毒和胰脏细胞的免疫性损害。需进行胰岛素治疗及调节饮食。依赖胰岛素治疗必须持续不少于六个月。本早期严重病况不包括第II型糖尿病。诊断必须由注册儿科专科医生或注册内分泌科专科医生确认。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="5">5.	川崎病</h3>
<p>川崎病是一种急性的、发热的及多系统性的儿童疾病，其特征为非化脓的颈部腺炎、皮肤及黏膜损伤，诊断必须由注册儿科专科医生或注册心脏科专科医生证实及必须由心脏超声波扫描显示有冠状动脉扩张或形成冠状动脉瘤内径最少达5毫米，此情况于最初急性病发后出现持续最少12个月。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="6">6.	风湿热合并心瓣膜损害</h3>
<p>由注册儿科专科医生根据已修订Jones标准诊断证实患上急性风湿热。并必须存在着由于风湿热引致一个或多个心瓣膜出现至少是轻度的瓣膜闭锁不全，该病变须由注册心脏科专科医生通过瓣膜功能检查确认。瓣膜闭锁不全情况必须持续至少六个月。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="7">7.	激光心肌血运重建术</h3>
<p>患者有顽固性心绞痛，尽管已进行最佳医疗程序，冠状动脉搭桥手术及经皮血管成形术已失败或被认为不适合，以致必须透过开胸手术进行激光心肌血管治疗。如已索偿任何其他形式心脏血运重建治疗，包括冠状动脉搭桥手术及冠状动脉血管成形术，本公司不会额外支付本项保障。 </p>
<h2>三、	与神经系统相关的疾病</h2>
<h3 id="8">8.	自闭症</h3>
<p >经注册儿童精神科专科医生作出明确诊断，此自闭症系列障碍属严重类型，而有关情况需在诊断后最少持续出现六个月，及受保人在为自闭症儿童而设的认可学校内接受包括但不限于行为治疗、心理介入治疗或特殊教育。必须由受保人的主诊注册儿童精神科专科医生证实其情况（根据《精神疾病诊断及统计手册》(DSM-5)）并符合诊断性的条件： </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;  (a)在多种环境下长期缺乏社交沟通及社交互动能力，并有以下的表现： </p>
<ul>
  <li>言语及非言语的社交沟通技巧严重不足，导致功能上严重缺陷、在社交互动中作出非常有限度的主动及对其他人的社交友好表示作出最小的响应。 </li>
</ul>
<p >&nbsp;&nbsp;&nbsp;&nbsp;(b)限制性、重复性的行为、兴趣或活动，并有以下的表现： </p>
<ul>
  <li>行为缺乏弹性、极度难于适应改变；或作出有限制性/重复性的行为，严重妨碍各种领域的功能发挥，对改变焦点或行为时表示极度忧虑及困难 </li>
</ul>
<p >&nbsp;&nbsp;&nbsp;&nbsp;(c)症状在早期发展阶段出现 </p>
<p >&nbsp;&nbsp;&nbsp;&nbsp;(d)症状对社交、职业或其他重要范围的现有功能在临床上造成重要损害</p>
<p>当我们认为有必要确定受保人的自闭症状态的诊断及严重程度，我们保留对受保人进行独立的精神鉴定。 </p>
<p >本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="9">9.	严重精神病</h3>
<p>经注册精神科专科医生首次确定诊断为严重忧郁症、精神分裂症或躁郁症，并需持续因严重精神病入住医院所属的精神科院舍超过4个星期。</p>
<p>本病况仅接受受保人入住提供超过100张床位、提供精神病专科第三层护理服务之医院，或特别指明为精神病专科医院的政府医院及／或大学附属医院。第三层护理服务是指由注册专科医生于备有支持人员及设施以提供特别或先进之医疗检查及治疗的地方提供专门咨询护理服务，并通常由基层或第二层护理服务医护人员转介。</p>
<p>纯因任何其他精神状况住院则不获保障。</p>
<p>由药物、酒精或物质滥用所导致的任何精神病，及因药物或酒精康复治疗而住院，将不获保障。</p>
<p>当我们认为有必要确定受保人的严重精神病状态的诊断，我们保留对受保人进行独立的精神鉴定。</p>
<h3 id="10">10.	第一型儿童脊髓肌萎缩</h3>
<p>受保人必须被诊断为第一型儿童脊髓肌萎缩，指儿童脊髓肌肉萎缩症，脊髓前角细胞及脑干颅神经的逐步功能障碍并有严重肌肉无力及延髓功能障碍。必须由肌电图及肌肉活检证实确诊。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>

<h2>四、	与主要器官及功能相关的疾病</h2>
<h3 id="11">11.	出血性登革热</h3>
<p>严重登革热病毒感染，出现全部4种征状，包括发高烧、出血现象、肝肿大和循环衰竭(登革热休克综合症—世卫登革热第3及第4级)。出血性登革热的诊断必须由相关医学范畴的注册专科医生作出。非出血性登革热概不承保。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h2>五、	其他疾病</h2>
<h3 id="12">12.成骨不全症</h3>
<p>特征是骨骼脆弱、骨质疏松和易骨折。受保人必须出现下列所有情况，因而确诊患上三型成骨不全症： </p>
<ul>
  <li>受保人经相关医学范畴的注册专科医生检验发现有发育障碍和听力障碍；及 </li>
  <li>X光检查发现多处骨折及渐进脊柱后侧凸；及 </li>
  <li>皮肤活组织检验呈阳性。 </li>
</ul>
<p>成骨不全症的诊断必须由本公司认可的注册专科医生确认。本早期严重病况承保范围于受保人年届18岁时终止。 </p>

<h3 id="13">13.严重哮喘</h3>
<p>有证据显示曾急性严重哮喘发作，病者处于持续性哮喘状态而需要住院，以及遵照相关医学范畴的注册专科医生嘱咐最少连续4小时需要在气管插喉及使用呼吸机。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。</p>

<h3 id="14">14.严重中枢神经性睡眠窒息症或混合性睡眠窒息症</h3>
<p>经相关医学范畴的注册专科医生明确诊断患上严重中枢神经性睡眠窒息症或混合性睡眠窒息症，并须连续接受持续气道正压呼吸器(CPAP)或双水平气道正压呼吸器(BiPAP)或适应性伺服通气(ASV)之夜间治疗；及必须提供睡眠测试的文件证明，显示呼吸暂停低通气指数(AHI)&gt;30及夜间血氧缺氧（即平均氧饱和度&lt;85%）；及最少已连续6个月进行持续气道正压呼吸器或双水平气道正压呼吸器或适应性伺服通气等治疗。与滥用药物或物质有关之中枢睡眠窒息症均不承保。</p>
<h3 id="15">15.严重脑痫症</h3>
<p>受保人由注册脑神经科专科医生或注册儿科专科医生透过视频脑电图和按情况所需配合其他调查性检测(包括磁力共振及正电子扫描)确诊患上脑痫症，并且： </p>
<ul>
  <li>过去六个月虽已由注册脑神经科专科医生或注册儿科专科医生给予最大限度的特设治疗并定期监察抗痉挛药物水平，其间仍有最少6次无促因强直─阵挛性发作或大发作；或 </li>
  <li>已接受神经外科手术治疗脑痫症发作。 </li>
</ul>
<p>热性发作、失神发作(小发作)、局部发作及任何不列为全身强直─阵挛性发作的其他类型发作均不符合本疾病的定义。 </p>
<p>受保人必须已由注册脑神经科专科医生或注册儿科专科医生直接监督最少6个月并一直服用适当剂量的处方抗脑痫(抗痉挛)药物，本公司方会支付保障。 </p>


<h3 id="16">16.严重血友病</h3>
<p>受保人必须是患有严重血友病，出现自发性出血而第8或第9凝血因子低于1%。诊断必须由相关医学范畴的注册专科医生确认。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>


<h3 id="17">17.严重阻塞性睡眠窒息症</h3>
<p>经相关医学范畴的注册医生，诊断为严重阻塞性睡眠窒息症(OSA)，并必须现正接受持续气道正压呼吸器(CPAP)之夜间治疗；及必须提供睡眠测试的文件证明，显示呼吸暂停低通气指数(AHI)&gt;30及夜间血氧缺氧（即平均氧饱和度&lt;85%）。</p>
<h3 id="18">18.系统性儿童类风湿关节炎</h3>
<p>指严重的儿童慢性关节炎，并于发生关节炎前数个月出现高烧及系统性疾病的病状。这种情况必须有其主要特点，包括高烧、每日(疟)发烧、渐逝皮疹、关节炎、脾肿大、淋巴腺肿大、浆膜炎、体重减轻、嗜中性白血球增多、增加急性期蛋白、抗核抗体(ANA)及类风湿因子(RF)测试为阴性。诊断必须有的实验室及其他检查证明。诊断必须由主诊注册儿科专科医生或注册小儿风湿病科专科医生所证实，及其情况已被纪录最少6个月。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<p >(本定义仅供参考，实际定义以官方发布为准)</p>


    </div>

        <!-- Pushy JS -->
        <script src="../js/pushy.js?v=1.1.0"></script>
        <script type="text/javascript" src="../js/jwexin.js"></script>

        <script>
            function GetQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
                var context = "";

                if (r != null)
                    context = r[2];
                reg = null;
                r = null;
                return context == null || context == "" || context == "undefined" ? "" : context;
            }
            //?&proName= ' + submitData.proName + 'be=' + submitData.be + 'be=' + submitData.be + 'bf=' + submitData.bf + 'birth=' + submitData.birth + 'calYears=' + submitData.calYears + 'giveMoneyYear=' + submitData.giveMoneyYear + 'living=' + submitData.living + 'sex=' + submitData.sex + 'smoke=' +submitData.smoke
            $('.back-btn').on('click' , function(){
                let redirectUrl = '/pages/result/'+GetQueryString('proName')+'?be=' + GetQueryString('be') + '&bf=' + GetQueryString('bf') + '&birth=' +GetQueryString('birth') + '&calYears=' + GetQueryString('calYears') + '&giveMoneyYear=' + GetQueryString('giveMoneyYear') + '&living=' + GetQueryString('living') + '&sex=' + GetQueryString('sex') + '&smoke=' + GetQueryString('smoke');

                wx.miniProgram.redirectTo({url: redirectUrl})
            })
        </script>

        

    </body>
</html>
