
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>危疾终身加护保 - 早期疾病定义</title>
        <meta name="description" content="Pushy is an off-canvas navigation menu for your website.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/site.css">
        <!-- Pushy CSS -->
        <link rel="stylesheet" href="../css/pushy.css">
        <link href="../css/style.css" rel="stylesheet" />
        <style>
            ul, menu, dir {
                display: block;
                list-style-type: disc;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 40px;
            }
            html, body {
                color: #3f3f3f;
                font-size: 14px;
            }
            .main-title{
                position: relative;
                top: 8px;
            }
            .header-section-li{
                width: 100%;
                height: 2.6rem;
                background-size: 100% 100%;
                background-color: #000;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
                text-align: center;
                color: white;
            }
            #container{
                margin-top: 20px;
            }
            .menu-btn{
                width: 73px;
                float: left;
            }
            .back-btn{
                padding: 10px;
                margin-bottom: 30px;
                background: #000;
                color: #FFF;
                text-align: center;
                border: 0;
                float: right;
            }
        </style>
        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Pushy Menu -->
        <nav class="pushy pushy-left" data-focus="#first-link">
            <div class="pushy-content">
                <ul>
                   <li class="pushy-submenu">
                        <button id="first-link">一、癌症</button>
                        <ul>
                            <li class="pushy-link"><a href="#1">1.	原位癌</a></li>
                            <li class="pushy-link"><a href="#2">2.	早期甲状腺或前列腺癌</a></li>
                            <li class="pushy-link"><a href="#3">3.	次级侵害性恶性肿瘤</a></li>
                        </ul>
                    </li>
                    <li class="pushy-submenu">
                        <button id="first-link">二、	与心脏相关的疾病病</button>
                        <ul>
                            <li class="pushy-link"><a href="#4">4.	主动脉瘤</a></li>
                            <li class="pushy-link"><a href="#5">5.	冠状动脉血管成形术</a></li>
                            <li class="pushy-link"><a href="#6">6.	植入心脏除纤颤器</a></li>
                            <li class="pushy-link"><a href="#7">7.	植入心脏起搏器</a></li>
                             <li class="pushy-link"><a href="#8">8.	胰岛素依赖型糖尿病</a></li>    
                             <li class="pushy-link"><a href="#9">9.	川崎病</a></li>                
                             <li class="pushy-link"><a href="#10">10.	次级严重心肌病</a></li>      
                             <li class="pushy-link"><a href="#11">11.	次级严重感染性心内膜炎</a></l
                             ><li class="pushy-link"><a href="#12">12.	经皮穿刺心瓣膜手术</a></li>  
                             <li class="pushy-link"><a href="#13">13.	心包切除手术</a></li>        
                             <li class="pushy-link"><a href="#14">14.	风湿热合并心瓣膜损害</a></li>
                             <li class="pushy-link"><a href="#15">15.	激光心肌血运重建术</a></li>  
                        </ul>
                    </li>
                     <li class="pushy-submenu">
                        <button id="first-link">三、	与神经系统相关的疾病</button>
                        <ul>
                        <li class="pushy-link"><a href="#16">16.自闭症</a></li>
<li class="pushy-link"><a href="#17">17.于颈动脉进行内膜切除手术及血管成形术及植入支架</a></li>
<li class="pushy-link"><a href="#18">18.脑动静脉畸形外科手术</a></li>
<li class="pushy-link"><a href="#19">19.植入大脑内分流器</a></li>
<li class="pushy-link"><a href="#20">20.早期脊髓肌肉萎缩症</a></li>
<li class="pushy-link"><a href="#21">21.早期脑退化症（包括早期阿耳滋海默氏症）</a></li>
<li class="pushy-link"><a href="#22">22.脑动脉瘤之血管介入治療</a></li>
<li class="pushy-link"><a href="#23">23.儿童亨廷顿舞蹈症</a></li>
<li class="pushy-link"><a href="#24">24.次级严重细菌感染脑膜炎</a></li>
<li class="pushy-link"><a href="#25">25.次级严重昏迷</a></li>
<li class="pushy-link"><a href="#26">26.次级严重病毒性脑炎</a></li>
<li class="pushy-link"><a href="#27">27.中度严重肌肉营养不良症</a></li>
<li class="pushy-link"><a href="#28">28.中度严重重症肌无力症</a></li>
<li class="pushy-link"><a href="#29">29.严重精神病</a></li>
<li class="pushy-link"><a href="#30">30.硬脑膜下血肿手术</a></li>
<li class="pushy-link"><a href="#31">31.脑下垂体肿瘤切除手术</a></li>
<li class="pushy-link"><a href="#32">32.第一型儿童脊髓肌萎缩</a></li>
                        </ul>
                      </li>
                      <li class="pushy-submenu">
                        <button id="first-link">四、	与主要器官及功能相关的疾病</button>
                        <ul>
                          <li class="pushy-link"><a href="#33">33. 急性坏死性胰脏炎</a></li>
                          <li class="pushy-link"><a href="#34">34. 糖尿病并发症引致单足切除</a></li>
                          <li class="pushy-link"><a href="#35">35. 胆道重建手术</a></li>
                          <li class="pushy-link"><a href="#36">36. 慢性肺病</a></li>
                          <li class="pushy-link"><a href="#37">37. 出血性登革热</a></li>
                          <li class="pushy-link"><a href="#38">38. 周边动脉疾病之血管介入治療</a></li>
                          <li class="pushy-link"><a href="#39">39. 肝炎及肝硬化</a></li>
                          <li class="pushy-link"><a href="#40">40. 植入静脉过滤器</a></li>
                          <li class="pushy-link"><a href="#41">41. 次级严重肾病</a></li>
                          <li class="pushy-link"><a href="#42">42. 次级严重系统性红斑狼疮</a></li>
                          <li class="pushy-link"><a href="#43">43. 肝脏手术</a></li>
                          <li class="pushy-link"><a href="#44">44. 丧失单肢</a></li>
                        </ul>
                      </li>
                      <li class="pushy-submenu">
                        <button id="first-link">五、	其他疾病</button>
                        <ul>
                          <li class="pushy-link"><a href="#45">45. 植入人工耳蜗手术</a></li>
                          <li class="pushy-link"><a href="#46">46. 糖尿病视网膜病变</a></li>
                          <li class="pushy-link"><a href="#47">47. 意外损伤及烧伤进行面部重建手术</a></li>
                          <li class="pushy-link"><a href="#48">48. 意外导致身体次级严重烧伤</a></li>
                          <li class="pushy-link"><a href="#49">49. 次级克罗恩氏病</a></li>
                          <li class="pushy-link"><a href="#50">50. 单耳失聪</a></li>
                          <li class="pushy-link"><a href="#51">51. 单眼失明</a></li>
                          <li class="pushy-link"><a href="#52">52. 大理石骨病</a></li>
                          <li class="pushy-link"><a href="#53">53. 成骨不全症</a></li>
                          <li class="pushy-link"><a href="#54">54. 骨质疏松症連骨折</a></li>
                          <li class="pushy-link"><a href="#55">55. 嗜铬细胞瘤</a></li>
                          <li class="pushy-link"><a href="#56">56. 严重哮喘</a></li>
                          <li class="pushy-link"><a href="#57">57. 严重中枢神经性睡眠窒息症或混合性睡眠窒息症</a></li>
                          <li class="pushy-link"><a href="#58">58. 严重脑痫症</a></li>
                          <li class="pushy-link"><a href="#59">59. 严重血友病</a></li>
                          <li class="pushy-link"><a href="#60">60. 严重阻塞性睡眠窒息症</a></li>
                          <li class="pushy-link"><a href="#61">61. 系统性儿童类风湿关节炎</a></li>                        
                        </ul>
                      </li>
                </ul>
            </div>
        </nav>

        <!-- Site Overlay -->
        <div class="site-overlay"></div>
        <div class="header-section-li">
            <!-- Menu Button -->
            <button class="menu-btn">&#9776; 菜单</button>
            <span class="main-title">危疾终身加护保 - 早期疾病定义</span>
            <button class="back-btn">返回小程序</button>
        </div>
        <!-- Your Content -->
        <div id="container">
<h1>早期疾病定义</h1>
<h2 >一、	癌症</h2>
<h3 id="1">1.	原位癌</h3>
<p>癌细胞的局部自行生长而没有浸润正常组织。「浸润」是指浸润透过上皮基膜。</P>
<p>原位癌必须由病理活组织检测结果作证，并经相关医学范畴的注册专科医生确认。单凭临床及细胞诊断将不足以符合本准则。</P>
<p>就子宫颈原位癌，程度须被界定为第三阶段的子宫颈上皮内瘤样病变(CINIII)或原位癌(CIS)。</P>
<p>皮肤原位癌（包括原位黑色素瘤）将不为受保项目。</P>
<p>如要符合就同一早期严重病况获发第二次赔偿，有关原位癌必须与第一次索偿并获支付赔偿的相关器官不同。若器官由左右两部分所构成(乳房、输卵管、肺、卵巢及睪丸)，则左右两部分将被视为一个及相同的器官。</P>
<h3 id="2">2.	早期甲状腺或前列腺癌</h3>
<p>早期甲状腺或前列腺癌指以下任何一种惡性肿瘤情况：</p>
<ul>
<li>根据TNM评级系统，任何在组织学上被界定为T1N0M0级别的甲状腺肿瘤；或</li>
<li>根据TNM评级系统，任何在组织学上被界定为T1a或T1b级别的前列腺肿瘤。</li>
</ul>
<p>上述病况的诊断必须有病理活组织检测结果作证，并经相关医学范畴的注册专科医生确认。</p>
<h3 id="3">3.	次级侵害性恶性肿瘤</h3>
<p>次级侵害性恶性肿瘤指以下任何一种惡性肿瘤情况：</p>
<ul>
<li>被界定为RAI第I期或第II期的慢性淋巴性白血病；或</li>
<li>最少为AJCC第二期或以上的非黑色素瘤皮肤癌。</li>
</ul>
<p>上述病况的诊断必须有病理活组织检测结果作证，并经相关医学范畴的注册专科医生确认。</p>

<h2 >二、	与心脏相关的疾病</h2>
<h3 id="4">4.	主动脉瘤</h3>
<p>主动脉瘤指腹部或胸椎主动脉瘤，而经适当的造影检查证实主动脉直径增大至最少55毫米。诊断必须经注册心脏科专科医生或血管外科医生确认。</p>
<h3 id="5">5.	冠状动脉血管成形术</h3>
<p>就一条或多条冠状动脉的收窄或阻塞，以经皮穿腔性冠狀动脉血管成形术(PTCA)、冠狀动脉粥样硬块切除术或相类似动脉内导管操作法进行治療。有关血管成形术必须获注册心脏科专科医生认为属医疗需要，并有血管造影的证明有冠状动脉病，其狭窄程度最少为50%。</P>
<p>若要符合冠状动脉血管成形术第二次索偿的资格，除须符合上述冠状动脉血管成形术的条件外，有关治疗的主要冠状动脉的收窄或阻塞位置在此疾病首次索偿时的冠状动脉造影显示，其狭窄程度为不多于60%。</P>
<h3 id="6">6.	植入心脏除纤颤器</h3>
<p>患者严重心律不整但无法透过其他方法治疗，必须植入永久性心脏除纤颤器。外科手术必须经相关医学范畴的注册专科医生证实属医疗需要。</p>
<h3 id="7">7.	植入心脏起搏器</h3>
<p>患者严重心律不整但无法透过其他方法治疗，必须植入永久性心脏起搏器。植入起搏器必须经相关医学范畴的注册专科医生证实属医疗需要。本项保障包括配合心脏再同步治疗法植入心脏起搏器。</p>
<h3 id="8">8.	胰岛素依赖型糖尿病</h3>
<p>特点为烦渴、多尿、食欲增加、体重下降、血浆胰岛素含量低，出现间歇性酮酸中毒和胰脏细胞的免疫性损害。需进行胰岛素治疗及调节饮食。依赖胰岛素治疗必须持续不少于六个月。本早期严重病况不包括第II型糖尿病。诊断必须由注册儿科专科医生或注册内分泌科专科医生确认。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。</p>
<h3 id="9">9.	川崎病</h3>
<p>川崎病是一种急性的、发热的及多系统性的儿童疾病，其特征为非化脓的颈部腺炎、皮肤及黏膜损伤，诊断必须由注册儿科专科医生或注册心脏科专科医生证实及必须由心脏超声波扫描显示有冠状动脉扩张或形成冠状动脉瘤内径最少达5毫米，此情况于最初急性病发后出现持续最少6个月。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。</p>
<h3 id="10">10.	次级严重心肌病</h3>
<p>经注册心脏科专科医生诊断患上心肌病，特点为病因不明的心室功能受损，并导致心脏永久性及不可复原的体能障碍，程度达纽约心脏协会分级的第3级，而左心室射出分数少于40%。</p>
<h3 id="11">11.	次级严重感染性心内膜炎</h3>
<p>感染性生物引致心内膜发炎，并符合以下所有标准：</p>
<ul><li>血培养或组织检测结果呈阳性，证实有感染性生物；</li>
<li>心脏超声波发现瓣膜赘生物，并证实因感染性心内膜炎导致心瓣不全或心瓣狭窄；及</li>
<li>经注册心脏科专科医生诊断为感染性心内膜炎并确定心瓣障碍的严重程度。</li></ul>
<h3 id="12">12.	经皮穿刺心瓣膜手术</h3>
<p>经皮穿刺心瓣膜手术指经皮穿刺的心瓣膜修复手术，例如瓣膜成形手术或心瓣分离手术及经皮穿刺心瓣置换手术，即完全透过血管内进行手术治疗。手术必须经相关医学范畴的注册专科医生证实属医疗需要并由其进行。</p>
<h3 id="13">13.	心包切除手术</h3>
<p>因心包疾病需要切除心包。这项外科手术必须经注册心脏科专科医生证实属医疗需要。治疗心包疾病的经皮导管或套管手术概不承保，包括但不限于引流或吸取心包积液，抽取心包活组织恕不承保。</p>
<h3 id="14">14.	风湿热合并心瓣膜损害</h3>
<p>由注册儿科专科医生根据已修订Jones标准诊断证实患上急性风湿热。并必须存在着由于风湿热引致一个或多个心瓣膜出现至少是轻度的瓣膜闭锁不全，该病变须由注册心脏科专科医生通过瓣膜功能检查确认。瓣膜闭锁不全情况必须持续至少六个月。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。</p>
<h3 id="15">15.	激光心肌血运重建术</h3>
<p>患者有顽固性心绞痛，尽管已进行最佳医疗程序，冠状动脉搭桥手术及经皮血管成形术已失败或被认为不适合，以致必须透过开胸手术进行激光心肌血管治疗。如已索偿任何其他形式心脏血运重建治疗，包括冠状动脉搭桥手术及冠状动脉血管成形术，本公司不会额外支付本项保障。</p>
<h2>三、	与神经系统相关的疾病</h2>
<h3 id="16">16. 自闭症 </h3>
<p>经注册儿童精神科专科医生作出明确诊断，此自闭症系列障碍属严重类型，而有关情况需在诊断后最少持续出现六个月，及受保人在为自闭症儿童而设的认可学校内接受包括但不限于行为治疗、心理介入治疗或特殊教育。必须由受保人的主诊注册儿童精神科专科医生证实其情况（根据《精神疾病诊断及统计手册》(DSM-5)）并符合诊断性的条件：</p>
<ul>
<li>(a)在多种环境下长期缺乏社交沟通及社交互动能力，并有以下的表现：
<p>言语及非言语的社交沟通技巧严重不足，导致功能上严重缺陷、在社交互动中作出非常有限度的主动及对其他人的社交友好表示作出最小的响应。</p></li>
<li>(b)限制性、重复性的行为、兴趣或活动，并有以下的表现：
<p>行为缺乏弹性、极度难于适应改变；或作出有限制性/重复性的行为，严重妨碍各种领域的功能发挥，对改变焦点或行为时表示极度忧虑及困难</p></li>
<li>(c)症状在早期发展阶段出现</li>
<li>(d)症状对社交、职业或其他重要范围的现有功能在临床上造成重要损害</li>
</ul>
<p>当我们认为有必要确定受保人的自闭症状态的诊断及严重程度，我们保留对受保人进行独立的精神鉴定。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。</p>
<h3 id="17">17. 于颈动脉进行内膜切除手术及血管成形术及植入支架</h3>
<p>颈动脉血管成形术及植入支架指治疗一条或多条颈动脉狭窄50%或以上的手术，需有血管造影检测的结果证明，并需符合以下所有标准：</p>
<ul>
<li>实际进行血管内介入手术，例如血管成形术及/或植入支架或旋切手术或</li>
<li>诊断应由相关医学范畴的注册专科医生确认，而手术属医疗需要。</li>
</ul>
<h3 id="18">18. 脑动静脉畸形外科手术</h3>
<p>需经颅骨切开手术的颅内手术或经伽玛刀放射手术，消除一条或一条以上脑部血管之动静脉畸形。此诊断必须由注册脑外科专科医生证实并以计算机断层扫描(CT)，磁力共振扫描(MRI)，磁力共振血管造影(MRA)或血管造影术结果证实。其它未包含颅骨切开手术或伽玛刀放射手术将不为受保项目。</p>
<h3 id="19">19. 植入大脑内分流器</h3>
<p>植入大脑内分流器指确实在脑室植入分流器植入手术，以纾缓过高的脑脊液压力。植入大脑内分流器必须经相关医学范畴的注册专科医生认为属医疗需要。</p>
<h3 id="20">20. 早期脊髓肌肉萎缩症</h3>
<p>脊髓前角细胞及脑干运动细胞核的退化病变，以近侧的肌肉无力和萎缩为主要特征，由腿部为最先开始并逐步扩散至远侧的肌肉。有关病变必须在不涉及任何其他因素下直接导致受保人在没有协助的情况下永久失去进行2项或以上日常活动的能力。</p>
<p>早期脊髓肌肉萎缩症的诊断必须由注册专科医生证实并附有适当的神经肌肉检验如肌电图证明(EMG)。</p>
<h3 id="21">21. 早期脑退化症</h3>
<p>经相关医学范畴的注册专科医生透过神经系统评估诊断为脑退化症，确认有认知功能障碍，即30分为满分的简易智慧量表(MMSE)只有19分或以下，或其他医学上验证及接受的认知功能测试达相同评级。为符合本定义，两次神经精神学测试必须相隔最少6个月进行，而且两次必须为相同的神经精神学测试及符合所需严重程度。受保人必须已经由注册专科医生处方接受改善病情治疗，并且必须一直由注册专科医生护理。</p>
<h3 id="22">22. 脑动脉瘤之血管介入治療</h3>
<p>脑动脉瘤之血管介入治疗指实际进行血管内介入治疗，例如血管内栓塞手术、血管内弹簧圈、血管成形术及/或植入支架或置入分流器，防止脑动脉瘤断裂或纾减因脑动脉瘤断裂而出血。手术必须经相关医学范畴的注册专科医生认为属医疗需要并由其进行。</p>
<h3 id="23">23. 儿童亨廷顿舞蹈症 </h3>
<p>儿童亨廷顿舞蹈症必须由注册儿科专科医生以基因测试诊断证实。必须有永久性和不可逆转的认知功能障碍和神经功能缺损的证据，包括以下全都：</p>
<p>(i)	动作迟缓，僵硬和僵固；及</p>
<p>(ii)	自主活动障碍；及</p>
<p>(iii)	由注册语言治疗师证实之口腔活动功能失调，包括言语和吞咽障碍。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。</p>
<h3 id="24">24. 次级严重细菌感染脑膜炎</h3>
<p>脑部或脊髓脑膜因细菌感染发炎，且必须住院治疗。诊断必须经注册脑神经科专科医生确认并有适当的调查检测结果证明，包括腰椎穿刺检测证明脑膜急性细菌感染。</p>
<h3 id="25">25. 次级严重昏迷</h3>
<p>持续最少48小时的次级严重昏迷，并导致永久性神经损伤，必须证明符合下列所有条件：</p>
<ul>
  <li>对外界刺激无反应；及 </li>
  <li>需使用机械生命支持系统。 </li>
</ul>
<p>诊断及支持证明必须经注册脑神经科专科医生或注册脑外科专科医生确认。医疗引致的昏迷概不承保。</p>
<h3 id="26">26. 次级严重病毒性脑炎</h3>
<p>脑实质(脑半球、脑干或小脑)发炎需要住院治疗。诊断必须经注册脑神经科专科医生确认并有适当的调查检测结果证明，包括腰椎穿刺检测证明脑部受感染。因艾滋病病毒感染引致的脑炎概不承保。</p>
<h3 id="27">27. 中度严重肌肉营养不良症</h3>
<p>中度严重肌肉营养不良症指由注册脑神经科专科医生证实因遗传性肌营养不良导致在没有协助的情况下无法进行2项或以上的日常活动的能力。 </p>
<h3 id="28">28. 中度严重重症肌无力症</h3>
<p >神经肌肉的后天性自身免疫力障碍，导致肌肉波动性乏力及疲劳。本症必须符合下列所有标准： </p>
<ul>
  <li>根据以下美国重症肌无力症协会的临床分类界定为第三类永久肌肉乏力；及 </li>
  <li>经注册脑神经科专科医生诊断为重症肌无力症并确定分类。 </li>
</ul>
<p >美国重症肌无力症协会的临床分类： <br>
  第一类：任何眼肌乏力情况，可能出现上睑下垂，其他部位并无肌肉乏力情况 <br>
  第二类：任何严重程度的眼肌乏力，其他肌肉轻度乏力 <br>
  第三类：任何严重程度的眼肌乏力，其他肌肉中度乏力 <br>
  第四类：任何严重程度的眼肌乏力，其他肌肉严重乏力 <br>
  第五类：需插管呼吸 </p>
<h3 id="29">29. 严重精神病</h3>
<p>经注册精神科专科医生首次确定诊断为严重忧郁症、精神分裂症或躁郁症，并需持续因严重精神病入住医院所属的精神科院舍超过4个星期。</p>
<p>本病况仅接受受保人入住提供超过100张床位、提供精神病专科第三层护理服务之医院，或特别指明为精神病专科医院的政府医院及／或大学附属医院。第三层护理服务是指由注册专科医生于备有支持人员及设施以提供特别或先进之医疗检查及治疗的地方提供专门咨询护理服务，并通常由基层或第二层护理服务医护人员转介。</p>
<p>纯因任何其他精神状况住院则不获保障。</p>
<p>由药物、酒精或物质滥用所导致的任何精神病，及因药物或酒精康复治疗而住院，将不获保障。</p>
<p>当我们认为有必要确定受保人的严重精神病状态的诊断，我们保留对受保人进行独立的精神鉴定。</p>
<h3 id="30">30. 硬脑膜下血肿手术</h3>
<p>因意外受伤而实际在头部进行颅骨钻孔手术引流硬膜下血肿。颅骨钻孔手术必须经相关医学范畴的注册专科医生认为有属医疗需要。 </p>
<h3 id="31">31. 脑下垂体肿瘤切除手术</h3>
<p>进行脑下垂体肿瘤的切除手术。有关肿瘤必须由影像学检验证实，检验包括计算机断层扫描(CT)或磁力共振扫描(MRI)。有关手术必须获注册脑外科专科医生认为属医疗需要。 </p>
<h3 id="32">32. 第一型儿童脊髓肌萎缩</h3>
<p align="left">受保人必须被诊断为第一型儿童脊髓肌萎缩，指儿童脊髓肌肉萎缩症，脊髓前角细胞及脑干颅神经的逐步功能障碍并有严重肌肉无力及延髓功能障碍。必须由肌电图及肌肉活检证实确诊。 </p>
<p align="left">本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h2>四、	与主要器官及功能相关的疾病</h2>
<h3 id="33">33. 急性坏死性胰脏炎</h3>
<p>胰脏实质急性发炎及坏死、胰脏脂肪的局灶性坏死，当中必须符合以下标准： </p>
<ul>
  <li>必需经由手术清除坏死的组织或胰脏切除术；及 </li>
  <li>诊断必须以组织病理学特征为准及由注册肠胃科专科医生确诊。 </li>
</ul>
<p>任何直接地或间接地、完全地或部分地由酒精导致的胰脏炎并不在保障范围内。</p>
<h3 id="34">34. 糖尿病并发症引致单足切除</h3>
<p>糖尿病出现并发症，注册糖尿科专科医生认为乃保存性命的唯一方法，因而在足踝或较高位置切断单足。如只切断一只或多只脚趾又或任</p>
<h3 id="35">35. 胆道重建手术</h3>
<p>将总胆管小肠吻合(总胆管空肠吻合或总胆管十二指肠吻合)的胆管重建手术，藉以治疗其他手术或内窥镜措施无法修补的胆管疾病，包括先天性胆管闭锁。手术必须是注册肝胆疾病专科医生认为最适当的治疗。因胆结石或胆管炎引致的情况概不承保。 </p>
<h3 id="36">36. 慢性肺病</h3>
<p>慢性肺病指确诊间质性纤维化，最少需要间歇氧气治疗，而在适当药物治疗下1秒用力呼气量(FEV1)持续低于年龄和身高标准化正常预测值的50%。就本保障而言，FEV1减至年龄和身高标准化正常预测值的50%必须达3个月，而且被视为稳定及不可复原。诊断、严重程度和检测结果必须经注册呼吸系统科专科医生确认。</p>
<h3 id="37">37. 出血性登革热</h3>
<p>严重登革热病毒感染，出现全部4种征状，包括发高烧、出血现象、肝肿大和循环衰竭(登革热休克综合症—世卫登革热第3及第4级)。出血性登革热的诊断必须由相关医学范畴的注册专科医生作出。非出血性登革热概不承保。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="38">38. 周边动脉疾病之血管介入治療</h3>
<p>周边动脉疾病之血管介入治疗指经血管造影检查证实以下一条或多条因狭窄50%或以上需要治疗之动脉： </p>
<ul>
  <li>供血至下肢或上肢的动脉；或 </li>
  <li>肾动脉；或 </li>
  <li>肠系膜动脉。 </li>
</ul>
<p>必须符合所有下列标准： </p>
<ul>
  <li>确实进行血管介入治疗，例如血管成形术及/或植入支架或旋切手术，以减轻征状；及 </li>
</ul>
<p>诊断周边动脉疾病和治疗属医疗需要应由相关医学范畴的注册专科医生确认。</p>
<h3 id="39">39. 肝炎及肝硬化</h3>
<p>肝炎病毒感染导致肝硬化。 </p>
<p>必须经注册肠胃科专科医生确诊为肝硬化，并有肝脏活组织检测结果证明，显示属于Metavir分期系统的F4病理组织期或Knodell硬化等级第4级。 </p>
<p>滥用酒精及药物引致的肝病概不承保。 </p>
<h3 id="40">40. 植入静脉过滤器</h3>
<p>有纪录证明患复发性肺栓塞而抗凝血治疗失败，因而利用外科手术植入静脉过滤器。植入静脉过滤器属医疗需要必须应由相关医学范畴的注册专科医生确认。<strong> </strong></p>
<h3 id="41">41. 次级严重肾病</h3>
<p>次级严重肾病包括以下所述的慢性肾脏疾病或以手术切除一边肾脏： </p>
<ul>
  <li>慢性肾病指晚期慢性肾功能不全，必须符合所有下列标准： </li>
  <li>根据肾病患者饮食治疗(MDRD)公式、Cockcroft-Gault公式或CKD-EPI公式计算的肾小球滤过率(GFR)低于30mL/min/1.73m2，病况已最少持续90日；及 </li>
  <li>慢性肾病的诊断必须经注册泌尿外科专科医生或注册肾病科专科医生确认； </li>
</ul>
<p>或 </p>
<ul>
  <li>以手术切除一边肾脏指受保人因疾病或意外需进行手术完全切除一个肾脏。以手术切除肾脏必须经相关医学范畴的注册专科医生证明为属医疗需要。 </li>
</ul>
<p>捐肾手术概不承保。 </p>
<h3 id="42">42. 次级严重系统性红斑狼疮</h3>
<p>次级严重系统性红斑狼疮指多个系统的自身免疫力疾病，特征是产生自身抗体。必须符合所有下列标准： </p>
<ul>
  <li>必须呈现下列最少四种美国风湿病学会(ACR)建议的临床表现： </li>
  <li>脸颊部红斑； </li>
  <li>圆盘状红斑； </li>
  <li>光敏感； </li>
  <li>口腔溃疡； </li>
  <li>关节炎； </li>
  <li>浆膜炎； </li>
  <li>肾脏失调—每日尿蛋白超过0.5克或显微镜下发现尿液含细胞性圆柱体； </li>
  <li>神经系统失调； </li>
  <li>血液系统失调—并无致病药物影响而出现溶血性贫血(红血球数量偏低)或白血球减少(白血球数量&lt;4000/l)、淋巴细胞减少(&lt;1500/l)或血小板减少(&lt;100000/l)； </li>
  <li>抗核抗体测试呈阳性； </li>
  <li>免疫系统失调—抗史密斯抗体、抗脱氧核酸抗体或抗磷脂抗体呈阳性，及/或梅毒血清检测呈假阳性； </li>
</ul>
<p>及 </p>
<p>系统性红斑狼疮的诊断必须经注册风湿病科专科医生或注册免疫科专科医生确认。</p>
<p>捐肝手术概不承保。 </p>
<h3 id="43">43. 肝脏手术</h3>
<p>受保人因疾病或意外进行属医疗需要的肝脏部份切除手术，最少切除肝脏整个左叶或右叶。</p>
<h3 id="44">44. 丧失单肢</h3>
<p>丧失单肢指因疾病或损伤需在手腕或足踝的较高位置切断最少一肢。 </p>

<h2>五、	其他疾病</h2>
<h3 id="45">45. 植入人工耳蜗手术</h3>
<p>因耳蜗或听觉神经永久受损而实际进行手术植入人工耳蜗。手术和植入人工耳蜗必须经相关医学范畴的注册专科医生证明属医疗需要。 </p>
<h3 id="46">46. 糖尿病视网膜病变</h3>
<p>糖尿病视网膜病变指糖尿病导致视网膜血管出现严重变化。 </p>
<p>必须符合所有下列标准： </p>
<ul>
  <li>确诊糖尿病视网膜病变当时患有糖尿病； </li>
  <li>眼底检查发现糖尿病视网膜病变的典型变化； </li>
  <li>按照Snellen验眼图，两眼的最佳视力为6/18或更差； </li>
  <li>实际接受治疗，例如透过激光治疗减轻视力障碍；及 </li>
  <li>糖尿病视网膜病变的诊断、视力障碍的严重程度和治疗必须经注册眼科专科医生确认属医疗需要。 </li>
</ul>

<h3 id="47">47. 意外损伤及烧伤进行面部重建手术</h3>
<p>实际进行全身麻醉的整型或重建手术，需要开刀并固定面骨骨折，或植皮治疗覆盖面部表面最少30%皮肤的严重三级程度烧伤，或涉及植皮的整型手术，治疗严重软组织损伤以修复或重建因意外而缺陷、残缺或受损的颈部对上面部结构形状和外貌。手术必须是主诊注册整型外科专科医生认为乃治疗损伤所致面部毁容属医疗需要，病人需要住院，而其后实际进行手术(不包括任何急症室程序)。纯粹为美容、独立牙科修复手术、独立鼻骨骨折手术或独立皮肤伤口治疗手术概不承保。</p>
<p>如同一宗意外涉及意外导致身体次级严重烧伤和意外损伤及烧伤进行面部重建手术，只可索偿其中一项。 </p>
<h3 id="48">48. 意外导致身体次级严重烧伤</h3>
<p>意外导致身体次级严重烧伤指直接因意外导致覆盖整个身体表面面积最少10%的三级程度烧伤(即皮肤全厚度受损)。界定烧伤部位必须已进行植皮。 </p>
<p>如同一宗意外涉及意外导致身体次级严重烧伤和意外损伤及烧伤进行面部重建手术，只可索偿其中一项。 </p>
<h3 id="49">49. 次级克罗恩氏病</h3>
<p>克罗恩氏病是一种慢性、跨壁炎症紊乱引起的肠瘘并形成肠梗阻或肠穿孔。 </p>
<p>次级克罗恩氏病必须由注册肠胃科专科医生所诊断，并由内镜检查及肠道活检所证明。本病况必须在注册肠胃科专科医生的指示下，持续接受免疫抑制治疗或持续使用皮质类固醇或免疫抑制药物治疗至少3个月。</p>
<h3 id="50">50. 单耳失聪</h3>
<p>单耳失聪指因疾病或损伤导致单耳完全失去听觉而不可复原(所有听觉频率的听力丧失最少80分贝)。 </p>
<p>必须提供听力检查医学证明。丧失听觉的诊断必须经注册耳鼻喉科专科医生确认。 </p>
<h3 id="51">51. 单眼失明</h3>
<p>单眼失明指因疾病或损伤导致单眼完全失去视力而不可恢复。失明必须经注册眼科专科医生确认。 </p>
<h3 id="52">52. 大理石骨病</h3>
<p>大理石骨病的特征是骨密度增加，骨脆和骨骼异常。受保人必须被诊断为中度骨硬化（亦称「大理石骨病」），并由相关领域的注册专科医生确认出现以下所有的状况： </p>
<ul>
  <li>由经相关医学范畴的注册专科医生为受保人身体检查的结果显示受保人患有脑神经麻痹；及 </li>
  <li>由血液测试的结果证实全血细胞减少；及 </li>
  <li>X光检查结果显示弥漫性骨骼异常硬化，多发性骨折及关节变形。 </li>
</ul>
<p>大理石骨病的诊断必须由本公司认可的注册专科医生确认。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="53">53. 成骨不全症</h3>
<p>特征是骨骼脆弱、骨质疏松和易骨折。受保人必须出现下列所有情况，因而确诊患上三型成骨不全症： </p>
<ul>
  <li>受保人经相关医学范畴的注册专科医生检验发现有发育障碍和听力障碍；及 </li>
  <li>X光检查发现多处骨折及渐进脊柱后侧凸；及 </li>
  <li>皮肤活组织检验呈阳性。 </li>
</ul>
<p>成骨不全症的诊断必须由本公司认可的注册专科医生确认。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="54">54. 骨质疏松症連骨折</h3>
<p>患上骨质疏松症并有微小创伤性的骨折，必须符合下列所有标准： </p>
<ul>
  <li>微小创伤后股骨颈骨折或最少两个椎体骨折；及 </li>
  <li>最少在两处地方利用双能量X光骨质密度仪或量化计算机断层扫描量度骨密度，证实属于严重骨质疏松症(T值低于-2.5)。 </li>
</ul>
<p>需要实际进行内部固定或重置治疗骨折股骨，或实际进行手术治疗椎体。 </p>
<p>本早期严重病况承保范围于受保人年届70岁时终止。 </p>
<h3 id="55">55. 嗜铬细胞瘤</h3>
<p>肾上腺或肾上腺外嗜铬组织分泌过量儿茶酚胺，形成神经内分泌系统肿瘤。 </p>
<p>嗜铬细胞瘤的诊断必须经相关医学范畴的注册专科医生确认并有病理组织学检测结果证明。 </p>
<h3 id="56">56. 严重哮喘</h3>
<p>有证据显示曾急性严重哮喘发作，病者处于持续性哮喘状态而需要住院，以及遵照相关医学范畴的注册专科医生嘱咐最少连续4小时需要在气管插喉及使用呼吸机。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="57">57. 严重中枢神经性睡眠窒息症或混合性睡眠窒息症</h3>
<p>经相关医学范畴的注册专科医生明确诊断患上严重中枢神经性睡眠窒息症或混合性睡眠窒息症，并须连续接受持续气道正压呼吸器(CPAP)或双水平气道正压呼吸器(BiPAP)或适应性伺服通气(ASV)之夜间治疗；及必须提供睡眠测试的文件证明，显示呼吸暂停低通气指数(AHI)&gt;30及夜间血氧缺氧（即平均氧饱和度&lt;85%）；及最少已连续6个月进行持续气道正压呼吸器或双水平气道正压呼吸器或适应性伺服通气等治疗。与滥用药物或物质有关之中枢睡眠窒息症均不承保。 </p>
<h3 id="58">58. 严重脑痫症</h3>
<p>受保人由注册脑神经科专科医生或注册儿科专科医生透过视频脑电图和按情况所需配合其他调查性检测(包括磁力共振及正电子扫描)确诊患上脑痫症，并且：</p>
<p>过去六个月虽已由注册脑神经科专科医生或注册儿科专科医生给予最大限度的特设治疗并定期监察抗痉挛药物水平，其间仍有最少6次无促因强直─阵挛性发作或大发作；或</p>
<p>已接受神经外科手术治疗脑痫症发作。</p>
<p>热性发作、失神发作(小发作)、局部发作及任何不列为全身强直─阵挛性发作的其他类型发作均不符合本疾病的定义。</p>
<p>受保人必须已由注册脑神经科专科医生或注册儿科专科医生直接监督最少6个月并一直服用适当剂量的处方抗脑痫(抗痉挛)药物，本公司方会支付保障。</p>

<h3 id="59">59. 严重血友病</h3>
<p>受保人必须是患有严重血友病，出现自发性出血而第8或第9凝血因子低于1%。诊断必须由相关医学范畴的注册专科医生确认。 </p>
<p>本早期严重病况承保范围于受保人年届18岁时终止。 </p>
<h3 id="60">60. 严重阻塞性睡眠窒息症</h3>
<p>经相关医学范畴的注册医生，诊断为严重阻塞性睡眠窒息症(OSA)，并必须现正接受持续气道正压呼吸器(CPAP)之夜间治疗；及必须提供睡眠测试的文件证明，显示呼吸暂停低通气指数(AHI)&gt;30及夜间血氧缺氧（即平均氧饱和度&lt;85%）。 </p>
<h3 id="61">61. 系统性儿童类风湿关节炎</h3>
<p>指严重的儿童慢性关节炎，并于发生关节炎前数个月出现高烧及系统性疾病的病状。这种情况必须有其主要特点，包括高烧、每日(疟)发烧、渐逝皮疹、关节炎、脾肿大、淋巴腺肿大、浆膜炎、体重减轻、嗜中性白血球增多、增加急性期蛋白、抗核抗体(ANA)及类风湿因子(RF)测试为阴性。诊断必须有的实验室及其他检查证明。诊断必须由主诊注册儿科专科医生或注册小儿风湿病科专科医生所证实，及其情况已被纪录最少6个月。</p>
<p>本早期严重病况承保范围于受保人年届18岁时终止</p>
<p align="left">(本定义仅供参考，实际定义以官方发布为准)</p>
<p>&nbsp;</p>

    </div>

        <!-- Pushy JS -->
        <script src="../js/pushy.js?v=1.1.0"></script>
        <script type="text/javascript" src="../js/jwexin.js"></script>

        <script>
            function GetQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
                var context = "";

                if (r != null)
                    context = r[2];
                reg = null;
                r = null;
                return context == null || context == "" || context == "undefined" ? "" : context;
            }
            //?&proName= ' + submitData.proName + 'be=' + submitData.be + 'be=' + submitData.be + 'bf=' + submitData.bf + 'birth=' + submitData.birth + 'calYears=' + submitData.calYears + 'giveMoneyYear=' + submitData.giveMoneyYear + 'living=' + submitData.living + 'sex=' + submitData.sex + 'smoke=' +submitData.smoke
            $('.back-btn').on('click' , function(){
                let redirectUrl = '/pages/result/'+GetQueryString('proName')+'?be=' + GetQueryString('be') + '&bf=' + GetQueryString('bf') + '&birth=' +GetQueryString('birth') + '&calYears=' + GetQueryString('calYears') + '&giveMoneyYear=' + GetQueryString('giveMoneyYear') + '&living=' + GetQueryString('living') + '&sex=' + GetQueryString('sex') + '&smoke=' + GetQueryString('smoke');

                wx.miniProgram.redirectTo({url: redirectUrl})
            })
        </script>

        

    </body>
</html>
